[2017-06-22 18:20] aquddos123 opened #513 "FluentWait.until not working with newer version of Selenium 3.4.0"
We are using Fluent wait in our project like below which was working fine with Selenium 2.53.1 so far. But with our recent upgrade to Selenium 3.4.0 it stopped working.
`await().atMost(maxWaitImeInSeconds, TimeUnit.SECONDS).until("#some-id").isNotPresent();`

We are seeing the following exception now:

[code]

I've tried with the updated guava dependency to 21 version as mentioned in the [ seleniu

[2017-06-22 18:59] Toilal commented on #513
It seems your are using a really outdated FluentLenium version. You have to latest FluentLenium 3.x version, there's a migration guide in docs from 0.x.

[2017-07-04 12:50] filipcynarski opened #514 "Add more advanced example of FluentLenium usage"
The docs should include more practical example how to use FluentLenium duckduckgo is to simple and may create wrong impression how FluentLenium should be used.

[2017-07-05 12:14] witi83 commented on #489
Hey, any news on this? We've also encountered this problem recently.

[2017-07-05 12:36] filipcynarski commented on #489
@witi83 no progress yet, there is too much work for me in the company for which I'm working for. But I'm keeping it in mind and will work on that soon :) If anybody is eager to help please free to fork the related branch and fix it if not I can expect it will be fixed soon (I hope in next month).

[2017-07-07 07:16] filipcynarski opened #515 "Refactor static Impl class"
Refactor static Impl class - it is to much for me :) Should be refactored.

[2017-07-07 07:45] filipcynarski opened #516 "Headles chrome config"
As a user I'd be able to define headless mode of chrome browser from annotation level.

I'd like to be able to take screenshots from headless browser too.

[2017-07-07 08:25] filipcynarski commented on #508
@tienlong826 issue resolved you can check snapshot version if you would like to check

[2017-07-07 08:25] #508 closed

[2017-07-07 12:36] tienlong826 opened #518 "DriverLifecycle Thread is failing to detect elements intermittenly"
Hi!

Upon testing the new feature, I noticed that, at times, one of the test (or multiples) will fail because it can't find an element even though the page is fully loaded.

In this case, I am using Google.com again to test.

Here's the sample code:

[code]

I can change it to 60 seconds and it does the same. Sometime they all pass, sometimes not.

This is the stacktrace:

[code]

[2017-07-08 19:34] filipcynarski commented on #518
It is passing on my laptop, could you please paste you maven config as well?

I've reduced the await to 1 sec and it is also passing

[code]

[2017-07-08 19:35] filipcynarski commented on #518
@tienlong826 awaiting for more details

[2017-07-10 12:19] tienlong826 commented on #518
@filipcynarski Weird that it passed for you.
I took the pom config directly from Fluent's project as a test
But here is what I have:

[code]

[2017-07-10 13:08] filipcynarski commented on #518
Let's use 3.3.0-SNAPSHOT instead it is building right now, I've added your case as a test for e2e tests flow so if the pull request pass it should work on your end as well.

[2017-07-10 15:44] tienlong826 commented on #518
I pulled down 3.3.0-SNAPSHOT and I ran the test again this time, they were successful 15 times. The 16th time I ran it: this happen (same issue again)

[code]

[2017-07-16 13:16] filipcynarski commented on #518
Looks like more likely network issue not the FluentLenium issue, I ran the tests many time locally and got this issue when I had too much chrome browsers and chrome crashed because of too many browser windows opened.

Are you satisfied by my answer and shall we mark it as ready to merge?

[2017-07-17 07:44] filipcynarski opened #520 "GetBrowser timeout lock"
Sometimes when webdriver communication fails the test may hang for 10 minutes it is the maximum timeout in Selenium.

It would be good to be able to change this value from FluentLenium

This is exemplary thread dump which I captured when my tests hanged

[code]

[2017-07-17 15:20] tienlong826 commented on #518
That very weird. But yeah you can go ahead and mark it as ready to merge.]

Thanks for looking into it :D

[2017-07-18 07:28] filipcynarski commented on #518
Chrome is sometimes fail to start or hangs if you run to many instances of those browser I've added another task: #520 which should help us to make it more reliable.

[2017-07-18 11:25] #518 closed

[2017-07-22 12:34] filipcynarski opened #522 "Add modules description on the beginning on readme"
Add modules description on the beginning on readme to avoid people confusion which module is responsible for what.

[2017-07-25 08:22] #520 closed

[2017-07-25 09:35] filipcynarski commented on #513
As @Toilal wrote @aquddos123 it is right time to update your FluentLenium enjoy!

[2017-07-25 09:35] #513 closed

[2017-07-25 09:37] filipcynarski commented on #510
@gaponte1985 there is a difference if you are extending each of those classes, that's why we have introduced those classes :)

Could you prepare exemplary archive w/ your project which isolates the issue which you are facing?

[2017-07-25 09:38] filipcynarski commented on #506
@gaponte1985 any update on that?

[2017-07-25 09:40] filipcynarski commented on #502
no response from the reporter @idannik issue, marked as closed, please feel free to reopen if it is still a case.

[2017-07-25 09:40] #502 closed

[2017-07-25 09:42] filipcynarski commented on #491
@robxu9 let me test it on the newest versions of Selenium and FluentLenium and I'll check is it still a case.

[2017-07-25 09:46] filipcynarski commented on #426
Duplicates #489 issue.

[2017-07-25 09:46] #426 closed

[2017-07-25 09:50] filipcynarski commented on #514
Done

[2017-07-25 09:50] #514 closed

[2017-07-25 09:55] filipcynarski commented on #491
I've retested it and seems to working fine @robxu9

[2017-07-25 12:47] gaponte1985 commented on #506
I resolve this issue, thanks for your time

[2017-08-14 03:32] sreevr opened #525 "Execute javascript using x path"
one of link is not clicking using ".CLICK" action.
guide me how to click the link using javascript  (I am having x-path of link )

[2017-08-14 07:49] filipcynarski commented on #525
@sreevr could you please paste your extracted code here?

You should be able to click on an element using el('//xpathHere').click() if it is not clicking you need probably wait for JS to attach the event to the element on your website, to do that you need to wait for the element to be clickable, please use await().until(...).clickable() or anything that can make the element clickable.

If you need

[2017-08-15 01:08] sreevr commented on #525
Hi Filip..
Thank you for your reply.I did everything what you mentioned, not working.

On Mon, Aug 14, 2017 at 3:49 AM, Filip Cynarski <notifications@github.com>
wrote:

--

Regards
Narmada

[2017-08-16 06:50] filipcynarski commented on #525
@sreevr please share your code here w/o more data I cannot help you.

[2017-08-23 07:31] filipcynarski opened #527 "Integrate w/ SauceLabs"
We've created saucelab account so we need to start using it the same as we are using browser stack.

[2017-08-25 11:33] gkiszczak commented on #525
Hi, @sreevr I think you will need to use executeScript method.
You can click element like using such code:
[code]

I hope it is what you need.

[2017-08-25 14:04] akifhazarvi opened #528 "Test getting failed due to unknown reason check the attached logs"
[code]

[2017-08-25 14:19] akifhazarvi opened #529 "com.gargoylesoftware.htmlunit.ScriptException: TypeError"
[code]

[2017-08-30 11:31] filipcynarski commented on #529
Hello @akifhazarvi,

It seems like you executing JavaScript, JS can be executed but it is the advanced feature which should be used carefully could you please extract the problematic code part and attach it to the issue report, so I'd be able to help you.

[2017-08-30 11:31] filipcynarski commented on #528
It is duplicate of #529

[2017-08-30 11:31] #528 closed

[2017-08-30 11:33] filipcynarski commented on #525
@sreevr please feel free to open this issue if it is still unresolved for you. Currently, I'm marking this one as closed because the @gkiszczak answer should be helpful for you.

[2017-08-30 11:33] #525 closed

[2017-08-30 11:37] filipcynarski opened #530 "Selenium upgrade to 3.5.3"

[2017-08-30 11:57] filipcynarski opened #531 "Cleanup maven configuration"
Cleanup maven configuration especially for integration tests

[2017-08-31 06:35] filipcynarski opened #533 "Cleanup tests + refactoring"
* Organize in packages
* Organize by functionality
* Improve maven POMs and modules for tests
* Replace French words by English

[2017-08-31 08:02] filipcynarski commented on #530
Done

[2017-08-31 08:02] #530 closed

[2017-09-07 07:00] filipcynarski opened #535 "Local PageUrl is not working for relatives paths"
The annotation like below

[code]

will fail because it tries to create URL for that

We should introduce argument called `isLocalFile` if set to true it should create local file path instead of URL

`BaseUrlDynamicTest` should be updated when the changes were implemented

[2017-09-07 08:37] #466 closed

[2017-09-08 22:48] nedtwigg opened #536 "Ambiguous FluentList / FluentWebElement"
I'm new to FluentLenium, so I might be missing something.

FluentList has a bunch of methods that make it look like a FluentWebElement by delegating to the first element.  e.g. `name(), text()`.

Generally, I presume that when the user is calling one of these, they are expecting that the list actually only contains one element anyway.  It would be a lot safer if these convenience methods didn't ex

[2017-09-09 06:31] Toilal commented on #536
There's no such method, but it could be implemented for sure, it's a good idea ☺️.

[2017-09-14 11:17] filipcynarski commented on #516
Resolved tested, documentation added by @gkiszczak

[2017-09-14 11:17] #516 closed

[2017-09-28 09:33] gkiszczak opened #539 "await until(FluentWebElement) should accept subtypes of FluentWebElement"
Currently, it's not possible to use await().until() with a subtype of FluentWebElement.
eg.
[code]
It should be possible.

[2017-09-28 21:59] filipcynarski commented on #489
Issue resolved, preparing to release

[2017-09-28 21:59] #489 closed

[2017-09-29 00:47] bledari opened #540 "No javadocs"

[2017-09-29 08:27] #539 closed

[2017-09-29 10:17] filipcynarski commented on #540
Could you please elaborate? Do you want to have Javadocs available on web page or is there java doc annotation missing?

[2017-09-29 11:31] gkiszczak opened #541 "await().until(FluentList).displayed() does not work"
Probably it wont work for other conditions.
[code]

[2017-09-29 18:41] bledari commented on #540
Yep, where are the web page javadocs? Also a migrations guide from older version would be great. You guys changed it all

[2017-09-29 18:55] Toilal commented on #540
Damn... leave please.

[2017-09-29 20:15] filipcynarski commented on #540
@bledari please find migration guide http://fluentlenium.org/migration/from-0.13.2-to-1.0-or-3.0/
we can add java docs for sure it is a task for us, thank you for your comment

[2017-09-29 20:15] filipcynarski commented on #540
@bledari please find migration guide http://fluentlenium.org/migration/from-0.13.2-to-1.0-or-3.0/
we can add java docs for sure it is a task for us, thank you for your comment

[2017-10-03 12:00] #506 closed

[2017-10-03 22:28] timdodd opened #543 "Does the quickstart project work?"
I pulled down the git repo and opened the quickstart project in eclipse. I noticed the DuckDuckGoTest is in a folder named 'org.fluentlenium.examples.quickstart' rather than org/fluentlenium/examples/quickstart. I moved the test to the default package to run it and i'm getting the following exception (also getting the same exception command line executing mvn test):

[code]

[2017-10-03 23:18] timdodd commented on #543
UPDATE: I added selenium-server and selenium-remote-driver and newWebDriver return a configured PhantomJSDriver and the test runs. Presumably i'm doing something wrong though. I'm assuming the quickstart is supposed to work out of the box?

[2017-10-05 10:22] gkiszczak opened #544 "Change axes() to more descriptive name"
Currently, axes method is not enough descriptive. Would be good to rename it:
nodes, dom or scope.

[2017-10-05 10:25] Toilal commented on #544
It is for XPath axes, but i would be in favor of traverse() or something
like that...

Le 5 oct. 2017 12:22, "Grzegorz Kiszczak" <notifications@github.com> a
écrit :

[2017-10-05 11:39] gkiszczak opened #545 "allow to return new element from outside the node without using axes().ancestors()"
Currently to return component that is outside the actual scope (XPath node) it's require to use
`axes().ancestors().first().el(...).as();`

Would be good to add method body() to FluentWebElement which should return top HTML element to make it simpler.
eg. `body().el(...).as(...);`

[2017-10-16 13:00] petergphillips opened #546 "Self referencing bound FluentPage changes in release 3.4.0"
3.4.0 introduces a recursive type declaration for FluentPage:
[code]

This has broken all of my Kotlin code that extend the FluentPage object as the type now has to be specified (unlike in Java).  Also it makes constructing subclasses of FluentPage messy and in violation of DRY principles as we now have to write:
[code]
whenever we want to create a page.  It also makes it prone to copy and paste e

[2017-10-17 06:26] filipcynarski commented on #546
@petergphillips please create the pull request and I can take a look, accept or propose different approach consistent w/ architecture. Thank you for reporting the issue I'm happy to help you

[2017-10-17 07:07] Toilal commented on #546
I'm a kotlin user too and this language is gaining a high popularity in the whole Java ecosystem, so it's worth considering such change. I learned it on an Android app, but I know consider it for other Java related development as the experience was great.

From a technical point of view, even in java, i'm not a big fan of having too much generics. User can still override go() method to return a su

[2017-10-17 11:30] filipcynarski commented on #546
Issue resolved.

[2017-10-17 11:30] #546 closed

[2017-10-18 13:22] filipcynarski commented on #541
@gkiszczak I did a few PoCs and was considering few options of dealing w/ the issue reported by you.

Finally I've decided to add integration tests and update documentation because I cannot be sure that everyone wants to wait for the first item of the list to be present. In terms of dynamic pages there is no one definition what mean the list was displayed or present.

I'm living it to test develop

[2017-10-18 14:03] #541 closed

[2017-10-19 06:37] #529 closed

[2017-10-19 06:38] filipcynarski commented on #527
We decided to not use SauseLabs and stick to BrowserStack

[2017-10-19 06:38] #527 closed

[2017-10-19 06:40] filipcynarski commented on #510
@gaponte1985 is the issue resolved on your end? May I close the ticket or do you need more help from our side?

[2017-10-19 06:43] filipcynarski commented on #459
We can start using Twitter more extensively to communicate changes in FluentLenium too

[2017-10-19 06:51] filipcynarski commented on #544
@gkiszczak you need to remember to deprecate axes and introduce new name instead, we do not want to rid the axes out at this stage.

[2017-10-19 07:06] filipcynarski commented on #455
@arey I'm seeing the issue is in the backlog from Dec - we haven't found good solution for the issue what I may suggest is to get the alert text instead and return it in exception message, we can also generate the screenshot which is a really fluentlenium generated message.

So summarising what we are going to achieve here is:
* Write test reproducing the issue
* Capture alert message and present

[2017-10-19 14:19] gaponte1985 commented on #510
Yees It was thanks

[2017-10-20 19:31] filipcynarski commented on #416
Currently it is:

[code]

I'm changing it to:

[code]

[2017-10-20 19:32] #416 closed

[2017-10-20 20:17] #459 closed

[2017-10-20 20:18] #445 closed

[2017-10-26 08:57] albuch opened #549 "await().untilPage().isLoaded() doesn't wait for page reload after alert().accept()"
We are facing an issue after upgrading to fluentlenium 3.4.1 (from 0.13.x).

Our application displays a Javascript confirmation dialog before submitting a form. After we accept the dialog Fluentlenium doesn't wait for the form submit to be completed before moving to the next step (e.g assertion). Even adding an `await().untilPage().isLoaded()` after `alert().accept()` fails to wait for the page re

[2017-10-26 09:19] filipcynarski commented on #549
What is the isLoaded method body for that page?

W dniu czw., 26.10.2017 o 10:57 Alexander v. Buchholtz <
notifications@github.com> napisał(a):

[2017-10-26 09:26] albuch commented on #549
@filipcynarski : it is the same page as before the form submit, so waiting for specific elements not being present on the page is not an option.

[2017-10-26 15:14] albuch commented on #549
I think I've found a solution that works rather well. As I know that it's a javascript call that triggers a submit I can set an implicit wait on the HTML element to get stale. after that I can add another implicit wait for the dom read event:

[code]
Do you see any side effects that this may have?

[2017-10-27 08:16] filipcynarski commented on #549
@albuch I'm not sure what the `driver` variable reference is? Is it for FluentLenium driver or is it a separate instance?

What I afraid of is if you are waiting for `html` tag to be present something must be wrong w/ your await for page load?

Could you please share some part of the test and page object to give me possibility to suggest how you can improve it? You can create exemplary project whi

[2017-10-28 00:24] krichter722 commented on #70
The issue that

    java.lang.ClassCastException: org.openqa.selenium.htmlunit.HtmlUnitDriver cannot be cast to org.openqa.selenium.TakesScreenshot

isn't a very clear and helpful error message as mentioned by @MathildeLemee still isn't resolved, i.e. the issue shouldn't be closed.

I recommend admins to clean up comments which are unrelated to the issue or support requests.

[2017-10-30 09:31] filipcynarski commented on #70
@krichter722 how are you taking screenshots? Which version of FL are you using? It should be handled in FluentLenium code right now.

[2017-10-30 13:32] krichter722 commented on #70
I guess it's not really a FluentLenium issue, my bad. Please close this again.

[2017-10-30 13:38] filipcynarski commented on #70
Thank you!

[2017-10-30 13:38] #70 closed

[2017-10-30 13:56] arey commented on #455
Yes, your proposal suits me.

In parallel, do you have find or open a case into the bug tracker of the Selenium project?

[2017-10-31 13:13] Gichure opened #550 "Browser failed to start with org.openqa.selenium.WebDriverException Exception"
I am trying out FluentLenium on a Maven project and below is the sample code I'm running
[code]

However, on running the test case, I am getting the below exception;
org.openqa.selenium.WebDriverException: Browser failed to start, test [ loginShouldLoadLoginPage(package.GISLoginTest) ] execution interrupted.
Caused by: [ java.lang.ExceptionInInitializerError]
Build info: version: '2.25.0', revisio

[2017-10-31 13:24] filipcynarski commented on #550
@Gichure I see you mixed Test class w/ Page Class you need to create two classes at least.

First is a test class like this:

[code]

and the second is a Page class

[code]

Please take a look on documentation and examples to have running example.

[2017-10-31 13:33] Gichure commented on #550
Hello @filipcynarski , I'm following this https://github.com/FluentLenium/FluentLenium/tree/master/examples/quickstart/src/test/java/org.fluentlenium.examples.quickstart quickstart demo and even following you suggestion, I still get the exception..
Could there be extra configuration required for Maven project?

[2017-10-31 13:36] filipcynarski commented on #550
@Gichure could you please attach your code here? I can review it, exception seems unrelated to FluentLenim rather to environment where you are trying to run your test.

[2017-10-31 13:46] Gichure commented on #550
Test Class
`import static org.assertj.core.api.Assertions.assertThat;

import java.util.concurrent.TimeUnit;

import org.fluentlenium.adapter.junit.FluentTest;
import org.fluentlenium.core.annotation.Page;
import org.fluentlenium.core.hook.wait.Wait;
import org.junit.Test;

/**
 * @author Paul
 * Oct 31, 2017
 */
@Wait
public class GISLoginTest extends FluentTest {
	   @Page
	   MyPageClass myPage

[2017-10-31 15:02] filipcynarski commented on #550
@Gichure please check the attached archive out
[issuereproduce.zip](https://github.com/FluentLenium/FluentLenium/files/1431146/issuereproduce.zip)

[2017-10-31 20:31] filipcynarski commented on #550
@Gichure is the issue resolved on your end?

[2017-10-31 21:20] filipcynarski commented on #536
You can use `first` or `last` instead

I have removed all ambiguous methods which were returning first element

[2017-10-31 21:23] #544 closed

[2017-10-31 21:31] nedtwigg commented on #536
Looks like there's still no `single` though, correct?  Very often, I expect there to be only a single element in the collection, and it would be great to be able to express that assertion concisely though `single`, rather than `assertSize == 1`, then `first`.

[2017-10-31 23:10] filipcynarski commented on #536
Ok makes sense to me, I'll reopen this task according to your suggestion

[2017-11-01 06:34] Gichure commented on #550
@filipcynarski it seems it is a configuration issue and not FluentLenium issue at all. Thank you for your suggestions and time.

[2017-11-01 06:34] #550 closed

[2017-11-01 20:46] filipcynarski commented on #536
@nedtwigg `single` method added and merged to develop branch

[2017-11-01 20:47] filipcynarski commented on #455
@arey nope because as I saw before Selenium says it is out of scope and is WAD, we will provide the solution soon

[2017-11-04 08:52] tmurakam commented on #276
I'm working on this. I'll send PR later.

[2017-11-04 09:21] tmurakam commented on #276
I send PR #555.

[2017-11-07 18:51] sMteX opened #557 "Can't get basic test to work"
Hello!

I've tried using FluentLenium and I can't seem to get even a simple test to work. I've tried going by the examples, and just an endless stream of exception thrown at me, and after googling for several hours I'm drowning in dependencies I don't even know if are used or necessary. Please for the love of all that's holy could someone point me in the right direction?

(hopefully) relevant depe

[2017-11-07 19:40] Toilal commented on #557
There's many dependency issues in your configuration, that's why it's not working.

First of all, [org.seleniumhq.selenium:selenium-htmlunit-driver](https://mvnrepository.com/artifact/org.seleniumhq.selenium/selenium-htmlunit-driver) is deprecated, and you should use [https://mvnrepository.com/artifact/org.seleniumhq.selenium/selenium-htmlunit] as defined in quickstart example. If you want to run

[2017-11-07 19:59] filipcynarski commented on #557
@sMteX I'm planning to change website and examples to be more user friendly in the 3.5 release I have a feeling that many users struggle w/ those examples, thank you for your issue it will be a good input for me to make our documentation easier to follow-up, please let us know if @Toilal suggestions helped you to sort your issue out

[2017-11-07 20:03] Toilal commented on #557
It would be great. Problem here is that the classpath can be easily messed up when including dependencies with wrong versions.

[2017-11-07 20:28] sMteX commented on #557
Thank you for the quick responses and some clarification as to *why?*.
I tried opening up a blank test project, copypasting the DuckDuckGoTest and pom.xml, but I'm still getting `Can't create WebDriver instance`.

Stack trace here:
[code]

[2017-11-07 21:36] #535 closed

[2017-11-07 21:39] Toilal commented on #557
[ChromeDriver](https://sites.google.com/a/chromium.org/chromedriver/) must be available in the path too.

[2017-11-07 21:41] sMteX commented on #557
Where should it be? Would it be possible to *not* place it in the path but to keep it somewhere as a folder in the project? (like I tried, folder "drivers" on the same level as pom.xml) I'd like if my coworkers wouldn't have to make any changes to their system to use these tests.

[2017-11-07 21:45] Toilal opened #559 "develop branch should be a -SNAPSHOT version"
Why the develop branch is no longer a SNAPSHOT version in pom.xml files ?

[2017-11-07 21:57] #559 closed

[2017-11-07 22:02] Toilal commented on #557
In fact, fluentlenium init code hide the real error message. I'll fix this, but the real error is :+1:

The path to the driver executable must be set by the webdriver.chrome.driver system property; for more information, see https://github.com/SeleniumHQ/selenium/wiki/ChromeDriver. The latest version can be downloaded from http://chromedriver.storage.googleapis.com/index.html

So you can set it by

[2017-11-07 22:11] sMteX commented on #557
Hmm, when I tried
[code]
It finally worked. But when I do the same to the real project (commented out the old dependencies, pasted those that worked for me now), it's still stuck at the same exception.

[2017-11-07 22:14] Toilal commented on #557
Please paste output of `mvn dependency:tree`.

[2017-11-07 22:16] sMteX commented on #557
Sorry, it's probably a mess, I've never worked with Maven, Spring (Boot) before, don't know what's necessary or not. Here it is (the one that doesn't work):

[code]

[2017-11-07 22:33] Toilal commented on #557
I think I already hit this issue with some Spring dependencies. One of the spring parent pom.xml sets a `selenium.version` to `2.53.1`, that breaks fluentlenium parent pom configuration.

Please try to set `selenium.version` `3.5.3` in `properties` tag of your own project `pom.xml`. It's a bit weird but properties defined in parent pom.xml files can shadow themselves, and forcing it inside you own

[2017-11-07 22:34] Toilal commented on #557
If it fix the issue, i'll update the quickstart example to include this property and avoid any possible property shadowing.

[2017-11-07 22:35] Toilal commented on #557
Duplicates of #457

[2017-11-07 22:37] sMteX commented on #557
That did the trick! Thank you very much for your help, very appreciated. 😊  While we're at it, is there some trick or way how to reduce the number of dependencies, like.. *meaningfully*? For the most part I was googling and trying to glue something to the pom till it worked but it doesn't seem right.

[2017-11-07 22:45] Toilal commented on #557
Can you try to replace with this:

<properties>
  <selenium.version>${selenium.version}</selenium.version>
</properties>

Does it still work ?

We will add mentions to WebDrivers binaries in the docs, true that it's missing.

[2017-11-07 22:47] Toilal commented on #557
The best thing we could do about WebDrivers confusion would be to include this project into fluentlenium : https://github.com/bonigarcia/webdrivermanager. It can manage the download of the driver and it's configuration automatically.

[2017-11-07 22:49] sMteX commented on #557
Replace the version number for the Chrome driver with `${selenium.version}` I suppose? Yes, that worked as well. As for the Manager - anything that helps running FluentLenium out-of-the-box would help I think.

[2017-11-07 22:49] Toilal commented on #557
Great, i'll add this into the quickstart then.

[2017-11-07 22:50] Toilal commented on #557
But keep in mind it may break the features relying on selenium 2.53.1 inside the Spring monster. But I think you don't use them :)

[2017-11-07 22:51] Toilal commented on #557
About the dependency weight, it doesn't seem possible to really reduce them. Maybe you can remove some Spring dependencies though.

[2017-11-07 22:52] sMteX commented on #557
Welp, I hope not :D I'm only like half sure what I'm doing but AFAIK, Selenium is tied to testing, and from the dependency tree I haven't seen Selenium as a dependency of anything Spring-ish.

[2017-11-07 22:57] Toilal commented on #557
The selenium version property is defined in spring boot parent. It's used in some spring testing dependencies, but you probably didn't include those dependencies inside your own project.

But the property is still there, and that's breaking the fluentlenium pom.xml as we are using the same property name for the selenium version.

[2017-11-07 22:59] sMteX commented on #557
Ah, I see. Well to be honest, I don't know if having the `<parent>` set is even necessary. But seeing as I didn't include anything Spring Testing related, I think so far at least, I should be ok.

[2017-11-07 23:03] Toilal commented on #557
Could you paste your whole pom.xml, so I can reproduce ? Or at least the spring dependencies and spring parent pom ?

[2017-11-07 23:06] sMteX commented on #557
I don't know where could I get the spring parent pom (it's a pom generated by start.spring.io, basically pre-generates the pom based on modules you select, name, artifact ID etc.), but the whole pom.xml is here (excluding commented things):
[code]

[2017-11-07 23:36] Toilal opened #562 "rename selenium.version maven property"
To avoid the spring boot parent pom.xml collision of `selenium.version` property (see #557, #457), we could rename it to `fluentlenium.selenium.version`.

[2017-11-07 23:45] Toilal commented on #562
I just tried this, but it doesn't work. Spring defines some selenium dependencies in dependencyManagement block, and it overrides our dependency definitions even after renaming the property.

[2017-11-07 23:45] #562 closed

[2017-11-09 19:38] #557 closed

[2017-11-11 14:34] barclay-reg opened #564 "Support for Selenium 3.7.0"
Hi all,

currently FluentLenium 3.4.1 is incompatible to Selenium 3.7.x

The following exception is originated in some refactorings in the API about JSON (see https://github.com/SeleniumHQ/selenium/commit/6104872dc1424838466bfa065ad69121ad1f8bb8)

[code]

[2017-11-11 16:16] filipcynarski commented on #564
Well they have introduced a bunch of breaking changes so it will be
addressed in next release ;)

W dniu sob., 11.11.2017 o 15:34 Robert Kleinschmager <
notifications@github.com> napisał(a):

[2017-11-11 16:33] barclay-reg commented on #564
I can make a PR, as I needed to test something out here ...

Am 11. Nov. 2017, 17:16 +0100 schrieb Filip Cynarski <notifications@github.com>:

[2017-11-20 07:03] pavi200863 commented on #504
Hi @nmarra  , I am also facing same issue .Any temporary solution to resolve this issue ?

[2017-11-20 09:46] filipcynarski commented on #504
@pavi200863 I can consider to add this changes to current release, please wait for next release.

[2017-11-20 10:08] filipcynarski commented on #276
@tmurakam I was reviewing your PR but my concern is you are using junit vintage module so this change is basing on backward compatibility for JUnit4 I would like to provide users fully integrated module w/o any hack, now it looks like a hack for me and what I'm trying to do is to design separate fluentlenium module for JUnit5 based on JUnit5 architecture. So I cannot fully merge your PR.

[2017-11-20 14:56] nmarra commented on #504
@pavi200863 We stopped using FluentLenium due to the lack of this support.

[2017-11-20 18:38] filipcynarski commented on #504
Shame on me :( we will add this support soon guys sorry I’m keen to merge
pull requests now I’m only one person with limited time ;) as eveyobody on
the earth :)

W dniu pon., 20.11.2017 o 15:56 nmarra <notifications@github.com>
napisał(a):

[2017-11-21 15:21] filipcynarski opened #565 "SafariDriver support"
We need to add SafariDriver support + integration tests on BrowserStack

[2017-11-26 03:08] sreevr commented on #525
Thank you Sir
Sorry for late reply

On Wed, Aug 30, 2017 at 7:33 AM, Filip Cynarski <notifications@github.com>
wrote:

--

Regards
Narmada

[2017-11-28 15:11] yaziz opened #566 "DesiredCapabilities cannot be converted to Capabilities"
Hello,

I upgraded the version of Fluentlenium to 3.4.1. Before that, I was in 3.2.0 version.

Since the upgrade, I have the 2 following errors :

1 - cannot access org.openqa.selenium.MutableCapabilities
[ERROR] class file for org.openqa.selenium.MutableCapabilities not found

2 - incompatible types: org.openqa.selenium.remote.DesiredCapabilities cannot be converted to org.openqa.selenium.Capabil

[2017-11-28 16:57] irhiggs commented on #566
I'm having the same issue after upgrading to Fluentlenium 3.4.1 and org.seleniumhq.selenium:selenium-chrome-driver:3.7.1.  The following code produces "cannot access org.openqa.selenium.MutableCapabilities" but I think this is a chrome-driver issue not a fluentlenium issue?

[code]

[2017-11-28 17:03] yaziz commented on #566
Thank you. It is possible that it is a chrome-driver issue. 👍

[2017-12-06 14:59] aquddos123 commented on #430
We recently migrated from a very old version of Fluentlenium v0.10.3 to v3.4.1 along with Selenium from v2.53.1 to v3.6.0. We are still seeing huge performance issues with our regression builds after the upgrade. The builds are taking almost double time to finish now. Any idea what's going on?

We use to have findFirst() and find() which are now replaced with find() and some places we are using el

[2017-12-11 23:53] aquddos123 opened #567 "Performance issue with find(), el()."
We recently migrated from a very old version of Fluentlenium v0.10.3 to v3.4.1 along with Selenium from v2.53.1 to v3.6.0. We are seeing huge performance issues with our regression builds after the upgrade. The builds are taking almost double time to finish now. Any idea what's going on?

We use to have findFirst() and find() which are now replaced with find() and some places we are using el() and

[2017-12-12 13:04] filipcynarski commented on #567
@aquddos123 the use case which you described looks as explanation why your tests performance is so poor, I can play a little bit w/ the FL engine to tweak performance in that area but I afraid w/o any refactoring on your end and stopping use nested finds based on lists it won't be much better but as I said I'm marking this as a bug and want to work on it.

[2017-12-13 00:09] aquddos123 commented on #567
@filipcynarski Thanks for looking into this matter.
I think find() in general is acting very slow compared to older version of find(). We can think about refactoring our nested searches wherever possible but would like to understand the current behavior first. Below are few more facts where find() is found slower even in single searches.

`find("li"); // returned 66 results in 13 sec`

`find("li",

[2017-12-14 11:24] angryfoxtanuja opened #568 "Cast issue"
Hi,

I trying a run a simple program to take screenshot, but the cast issue is occurring, below is the code:
package testFirefox;

import java.io.File;

import org.openqa.selenium.*;
import org.openqa.selenium.firefox.FirefoxDriver;
import org.openqa.selenium.TakesScreenshot;
import org.testng.annotations.Test;
import org.apache.commons.io.FileUtils;
import org.openqa.selenium.OutputType;
import j

[2017-12-16 12:46] mamachanko commented on #416
@filipcynarski can you help me understand what "_React ready_" means?

[2017-12-16 13:57] filipcynarski commented on #416
It means it works well w/ React JS framework :) We based our automation on FluentLenium and rewritten entire application (very complex one) to ReactJS so it is proven by example.

[2017-12-18 19:23] brunoleite opened #569 "Spock - Can't create new WebDriver instance"
Hello everyone,

I am trying to use FluentLenium + Spock but I am facing a problem with webdriver. I've created a project from scratch trying to follow the official example (https://github.com/FluentLenium/FluentLenium/tree/develop/examples/spock) but I am facing the message:  Can't create new WebDriver instance
The only difference is that I am using gradle instaed of maven. Here is the code + gra

[2017-12-19 08:34] gkiszczak commented on #568
Hi @angryfoxtanuja, the problem you're reporting is not related to FluentLenium.
Your code looks incorrect:
in the getscreenshot method, you are calling webDriver() which is a test method and returns void (that is why you're getting casting error).

Please rearrange the code and fix syntax issues.

[2017-12-19 08:34] #568 closed

[2017-12-20 11:55] gkiszczak commented on #480
Hi @diemol, sorry for late answer. Are you still looking for a solution? The easiest solution would be to create a JUnit rule to take a screenshot when a test fails and add allure @Attachment annotation.

[2017-12-28 08:35] diemol commented on #480
Hi @gkiszczak,

I think I figured it out in a different way but I don't remember that anymore. Thanks for replying though.

I'll close this issue since it is not relevant anymore.

[2017-12-28 08:35] #480 closed

[2017-12-29 09:14] filipcynarski opened #570 "FL key functionalities/benefits of use should be added to doc"
We need to add to documentation what is the key benefit of using FluentLenium what is the "killer feature" of FL.

[2018-01-09 15:41] lourish commented on #492
I see a few problems with this suggestion:

- It ties checking if the page is current to assertj, which is a separate module for good reason.
- Without an isAt() method it would not be possible to easily check if the page is current- instead one could only _assert_ it and users would need to handle exceptions.
- More complex checks created by overriding isAt() can currently be picked up by both th

[2018-01-09 18:48] otrebski opened #571 "Nullpointer is thrown during html dump"
Hi.
In my test I created screenshot and html dump in case of test failure. If test fails because it cannot connect to remote browser, I get NullPointer on console:
[code]

I expect to have exception with message informing about reason.

[2018-01-10 08:53] alewir opened #572 "Not able to use JUnit Rules in Spock for taking screenshots on test fail"
If I try to use JUnit Rules in Spock for taking screenshots on test fail like this:

[code]

Tests are returning execution errors at initialization:
[code]

Could someone please provide some other way / suggestion how to take screenshots on every test fail with FluentLenium-Spock adapter?

**Edit**

It worked with registering ```org.spockframework.runtime.extension.IGlobalExtension``` and adding a

[2018-01-18 20:15] jaipaddy commented on #543
I face the same issue, the quickstart is not working

[2018-01-19 07:19] gkiszczak commented on #543
@jaipaddy could you please show me your pom.xml file? Are you facing exactly the same error?
I'm afraid selenium 3.7.1 introduced some breaking changes. Please try version 3.5.3.
We will try to upgrade FluentLenium to latest selenium version as fast as possible.

[2018-01-19 07:21] #572 closed

[2018-01-19 07:23] gkiszczak commented on #569
@brunoleite are you still facing this issue?

[2018-01-19 07:26] gkiszczak commented on #566
@yaziz are you still facing this issue?

[2018-01-19 09:10] yaziz commented on #566
Hello,
No, it is OK
Thank you!

[2018-01-22 06:31] bledari commented on #540
Still no javadocs, why is this closed then?

[2018-01-22 06:36] Toilal commented on #540
Not sure we need an HTML export of the JavaDoc if it's what you mean...

What do you really mean, because there are JavaDoc everywhere in sources ?

[2018-01-22 15:02] brunoleite commented on #569
yep, I am @gkiszczak

[2018-01-26 11:23] filipcynarski opened #573 "AppliTools Eyes"
We may consider of adding AppliTools integration to FluentLenium

[2018-02-05 08:25] martin-g commented on #564
Any idea when the next release (including) this upgrade will be ?

[2018-02-05 09:52] filipcynarski commented on #564
Hello @martin-g I'm staring working again on FL, I was busy due to building my house last 2 months so that's why our works slowed down

I think I can change the scope of this release to let this update came out :)

[2018-02-05 09:59] filipcynarski commented on #564
@martin-g I'm upgrading it to 3.8.1

[2018-02-05 11:01] martin-g commented on #564
Awesome! Thank you @filipcynarski !

I hope you have built a nice house! :smile:

[2018-02-06 14:06] Toilal commented on #567
For each element matching the base selector but doesn't matching the programmatic filter, it will be slow because FL waits until timeout before actually considering this element really doesn't match. And it does this sequentially for each selected elements.

Do you use @Wait annotation ? If so, you can customize the timeout values in @Wait annotation parameter, see [@Wait annotation sources](https

[2018-02-07 08:08] filipcynarski commented on #540
@bledari could you please elaborate?

[2018-02-07 20:09] gkiszczak commented on #564
@martin-g @barclay-reg  FluentLenium 3.5.0 version has been released today. Please update your dependencies.

[2018-02-07 20:09] #564 closed

[2018-02-07 20:41] martin-g commented on #564
Selenium 3.9.0 has been released 2 days ago. It seems you didn't notice.
Or you updated to 3.8.1 intentionally ?

[2018-02-07 20:42] martin-g commented on #564
Well, if there are no API break from Selenium side then I can manage this locally!
I will run my tests right away!

[2018-02-07 22:18] filipcynarski commented on #564
I've released 3.5.1 version of FL which contains Selenium 3.9.0 sorry, I didn't notice.

[2018-02-07 22:24] martin-g commented on #564
Thank you, @filipcynarski !

[2018-02-28 11:48] filipcynarski commented on #540
No response from reporter closing this one

[2018-02-28 11:52] filipcynarski commented on #567
@aquddos123 are you good w/ solution suggested bt @Toilal please let us know is it still an issue on your side or you managed to fix the issue which you are facing on test design phase.

[2018-02-28 11:52] #567 closed

[2018-02-28 11:55] filipcynarski commented on #549
@albuch any update on that? I'm closing the issue please feel free to comment and put more details if help is still required.

[2018-02-28 11:55] #549 closed

[2018-02-28 11:57] #531 closed

[2018-03-01 08:13] filipcynarski commented on #573
After discussion w/ @gkiszczak we decided to not add cloud product to FL. We decided our intention is to build Selenium wrapper which empowers building of fast and reliable testing framework.

[2018-03-01 08:13] #573 closed

[2018-03-01 08:19] filipcynarski opened #576 "Review existing features against production use cases (possible light version of FL)"
We need to check which functionalities are redundant
Maybe we need to change architecture a little bit according to how our frameworks are used by customers/teams

Maybe we need a `light` version of FluentLenium for more advanced use cases. Check if core module could be such thing.

[2018-03-01 08:42] filipcynarski opened #577 "Bump-up versions of dependencies"
AssertJ, Selenium, etc.

[2018-03-01 09:02] filipcynarski commented on #335
Maybe we should consider describing it as a section in docs instead of adding another 3rd party dependency to the project

[2018-03-01 09:08] filipcynarski commented on #322
In my opinion, it is too much, DOM manipulation is something that we do not want to do, is anyone against closing the issue please shout.

[2018-03-01 09:08] #322 closed

[2018-03-01 09:09] filipcynarski commented on #318
We should remove it or refresh it in 3.7 release

[2018-03-01 21:05] filipcynarski commented on #318
Done

[2018-03-01 21:05] #318 closed

[2018-03-01 22:39] filipcynarski commented on #577
Done

[2018-03-01 22:39] #577 closed

[2018-03-07 08:19] filipcynarski commented on #569
@brunoleite I've played a little bit w/ that example (it was created by contributor) and fixed the issue. Could you please check on develop branch is the issue resolved on your end?

[2018-03-07 08:19] #569 closed

[2018-03-07 08:30] filipcynarski commented on #454
Delombok sources may cause another issues, I'd suggest you to install Lombok support in IntelliJ I'm not facing the issue in newest IJ w/ Lombok plugin installed. Please shout if it is still an issue.

[2018-03-07 08:30] #454 closed

[2018-03-07 08:47] filipcynarski commented on #403
I think it doesn't make sense. Let's close it.

[2018-03-07 08:47] #403 closed

[2018-03-07 13:30] filipcynarski commented on #291
I've updated cucumber and examples in examples section your goal can be achieved w/o any additional changes in the code. Please let us know if you need any further assistance.

[2018-03-07 13:30] #291 closed

[2018-03-07 13:34] filipcynarski commented on #493
@tjacoby could you please share your class code here?

[2018-03-09 07:26] gkiszczak opened #582 "upgrade selenium to 3.10.0"
upgrade selenium to latest version

[2018-03-12 19:14] bledari commented on #540
I mean online Javadocs for different versions just like the Java API

[2018-03-13 05:35] filipcynarski commented on #540
It is documentation issue, we can fix it

[2018-03-27 17:17] RachelKoldenhoven opened #583 ""Caused by" error message discarded"
https://github.com/FluentLenium/FluentLenium/blob/40a2bf3f9ccf7eded66049c4c724241f094ca5ac/fluentlenium-core/src/main/java/org/fluentlenium/adapter/FluentTestRunnerAdapter.java#L115

Due to the line above, detailed messages do not appear in logs:
[code]

This makes debugging FluentLenium issues difficult. This is because the line above uses this constructor:
[code]

Were it to use this constructor

[2018-03-28 07:25] filipcynarski commented on #583
@RachelKoldenhoven please take a look at the code again, I think we are calling the proper method

[code]

Where `e` is passed as a cause

[2018-03-28 07:26] filipcynarski commented on #583
I think the reason is different, but I can agree it is annoying and we have to fix it finally.

[2018-03-29 19:52] RachelKoldenhoven commented on #583
Sorry about that, the issue must have been gradle log levels hiding the stack trace. Thanks for responding!

[2018-04-01 18:15] filipcynarski commented on #583
Let's reopen the issue. I think we should fix this issue whatever the cause is :)

[2018-04-02 11:59] cjaehnen opened #584 "Unable to Create @Page Object using Spring Boot 2"
I'm currently converting a Spring Boot app from 1.5.x to 2.0.0. When I run my Fluentlenium test, I get the below exception.

Major differences include I'm using JUnit 5 instead of 4. Any ideas?

[code]

Here's my code:

AppFluentTest.java

[code]

AppPage.java

[code]

HomePage.java

[code]

HomePageTest.java

[code]

[2018-04-02 16:07] filipcynarski commented on #584
Have you tried to run your tests using JUnit4? Currently we are working on JUnit5 module in next release. I think it may be a case. I'll try to run your code later.

[2018-04-02 16:47] cjaehnen commented on #584
I believe you are correct, as I ran the test in JUnit 4, and got a different error but the Page class is no longer null. I'll have to revert to JUnit 4 for these types of tests, for now.

Any idea when you expect JUnit 5 support?

Thanks for your assistance. I love FluentLenium!

[2018-04-02 19:47] filipcynarski commented on #584
I'm glad to hear that! The work is in progress https://github.com/FluentLenium/FluentLenium/pull/556 we are planning to release new version in next 2 months.

[2018-04-09 01:46] bobtiernay-okta commented on #276
Looking forward to this!

[2018-05-25 08:19] filipcynarski opened #585 "Await lambdas - handle exceptions"
For now, lambda is printed as:

[code]

We would like to print the cause of failure

[2018-05-25 11:55] filipcynarski commented on #585
As a FluentLenium project we are not overriding native Selenium methods. It is how Selenium framework works.

[code]

If you read the stack carefully there is description (reason) as well.

[code]

[2018-05-25 11:57] #585 closed

[2018-06-05 16:46] rheaton opened #586 "scrollToElement is not implemented"
It appears that scrollToElement is not implemented, but it is documented.

[2018-06-05 18:44] filipcynarski commented on #586
Good catch!

scrollToElement was deprecated but not removed from documentation.

I'm removing it from docs.

Thank you!

[2018-06-05 18:44] filipcynarski commented on #586
You can use:

`scrollIntoView`

and

`scrollToCenter`

[2018-06-05 18:47] #586 closed

[2018-06-05 19:19] filipcynarski commented on #582
Upgraded to 3.12.0

[2018-06-05 19:19] #582 closed

[2018-06-05 19:24] filipcynarski commented on #543
no update from reporter closing the issue.

[2018-06-05 19:24] #543 closed

[2018-06-05 22:31] filipcynarski commented on #276
It is junit5 module not adapter! Merged to develop, ready for testing!

[2018-06-11 19:14] filipcynarski opened #587 "Place URL on screenshot"
It would be nice to have URL (last part + parameters) printed in the screenshot

Option should be enabled as FluentLenium property.

[2018-06-11 20:31] vrish88 opened #588 "Add `containingText(...)` to docs"
Hello!

We are using FluentLenium on a project and had a difficult time finding an element that had some text. We were looking at the [docs](http://fluentlenium.org/docs/) and tried using `withText` and `withTextContent` to no avail.

It turns out what we wanted was the `containingText` filter. However nowhere in the documentation of the methods nor the online docs did it say that `withText` and `

[2018-06-13 19:34] marcospereira commented on #582
Hey @filipcynarski, when should we expect a release with this update?

Thanks.

[2018-06-14 08:50] KingBuzzer commented on #276
Maybe you should change the name to fluentlenium-junit-jupiter instead, as per [this](https://github.com/mockito/mockito/issues/445#issuecomment-269083308) advice from a junit lead on the mockito sub module for JUnit5 support.

[2018-06-22 07:01] dominik1776 commented on #491
Looks like there is still an issue indeed. Getting the same exception for env:
* Google Chrome | 67.0.3396.62 (Official Build) (64-bit)
* Selenium version 3.12.0
* Fluentlenium version 3.5.2
Is there any workaround for this?

[2018-06-26 21:50] filipcynarski opened #590 "Write tests for alerts on screenshots"

[2018-06-27 09:36] #276 closed

[2018-06-27 09:37] filipcynarski commented on #455
code merged to develop

[2018-06-27 09:37] #455 closed

[2018-06-27 19:48] #590 closed

[2018-06-28 20:09] Lraharison opened #591 "Problem with RemoteDriver on version 3.6.0"
Hello,
I tried the new version 3.6.0 of fluentlenium and I encountered a problem with the RemoteDriver.
I have the following exception java.net.ConnectException,  while it works well with previous versions

[2018-06-28 20:28] filipcynarski commented on #591
Could you please paste the exception stacktrace here?

W dniu czw., 28.06.2018 o 22:10 Lraharison <notifications@github.com>
napisał(a):

[2018-06-29 06:49] filipcynarski commented on #591
Tested it on my test suite and works well w/ RemoteWebDriver, have you updated your dependencies Browser version, ChromeWebDriver etc.? I need more data to help you it works for Chrome and Selenium Grid which I'm having in my project

[2018-06-29 11:15] abendt opened #592 "unable to upgrade to v3.6.0 because of NotImplementedException"
Hi,

we tried to upgrade from v3.5.2 to v3.6.0 today.

One test is failing now because of a NotImplementException:

`window().clickAndOpenNew(el(".button-locator"))`

[code]

[2018-06-29 12:58] Lraharison commented on #591
I use a docker container from the image selenium /standalone-chrome: 3.12.0-cobalt. I tried launching a standalone server on my local and it worked it was selenium-server-standalone-3.12.0.jar.
So I do not understand what's going on with the container on this version.

Here is the stacktrace :

`org.openqa.selenium.WebDriverException: Browser failed to start, test [ test(MyTest) ] execution interr

[2018-07-02 10:07] filipcynarski commented on #591
I'm going to release 3.6.1 version w/ small bugfix, We have also tested the newest SeleniumGrid w/ the 3.6.0 and it works well. Please let me know what your findings are after upgrade. Release is going to be available in 2hours.

[2018-07-02 11:19] #592 closed

[2018-07-02 13:22] filipcynarski commented on #591
3.6.1 is released please check

[2018-07-03 11:06] filipcynarski opened #593 "Await for lists seems to not working as expecting"
https://gitlab.com/g.szczutkowski/fluentlenium-list-test.git

equalTo method seems like not working as expected.

[2018-07-03 12:52] TomaszSzyborski opened #594 "WebDriverManager integration out of box"
It might be good to have WebDriverManager as dependecy in Fluentlenium to provide fuller solution in building testing frameworks.

[2018-07-03 12:58] TomaszSzyborski opened #595 "Awaits with negation not() does not work as expected"
In abstract base test there are waits configured
`@Wait(timeout = 10, timeUnit = TimeUnit.SECONDS, pollingInterval = 1, pollingTimeUnit = TimeUnit.SECONDS)
@FluentConfiguration(webDriver="chrome")
public abstract class BaseTest extends FluentTestNg{`

but the test fail without waiting for page to load entirely, or for element's presence (clickable etc. etc.)

in other tests wait is in more explici

[2018-07-03 13:45] filipcynarski commented on #595
It may be related w/ #593

[2018-07-04 22:15] ouchxp commented on #491
Having the same issue here. My workaround is to call `noHook()` on the element. I assume the proxy object somehow is not properly generated.

[2018-07-05 09:43] filipcynarski commented on #491
@ouchxp @dominik1776 would you be able to provide the code which causing the issue?

[2018-07-05 10:06] filipcynarski commented on #491
I've got the description from @TomaszSzyborski

it is not important is the element defined by `FindBy` or `el` it fails w/ following exception

[code]

[2018-07-05 10:22] filipcynarski commented on #491
Very interesting is a fact the test is passing for this part of code:

`ActionOnSelectorAdvancedUserIntegrationTest#checkMouseOverAction`

[2018-07-05 10:41] filipcynarski commented on #491
Ok, looks like `@Wait` annotation is causing the issue

this code won't work:

[code]

this is working well

[code]

[2018-07-06 05:04] filipcynarski commented on #594
This one duplicates #335 and it is scheduled for 3.7

[2018-07-06 05:04] #594 closed

[2018-07-06 05:06] filipcynarski commented on #584
@cjaehnen would you be able is your issue resolved? I've added JUnit Jupiter in 3.7.1 release

[2018-07-06 12:39] filipcynarski opened #597 "getSelector on FluentWebElement"
As a user I'd like to be able to invoke getSelector method to get used selector on that Element.

[2018-07-06 22:49] koryl commented on #491
This issue is related to #595.

[2018-07-06 22:51] koryl commented on #491
This issue is related to #595.

[2018-07-09 06:25] koryl opened #599 "Refactoring code to not use deprecated methods"
I propose to check the source code and rewrite fragments that using deprecated method, like e.g.:
- in FluentWait class
`wait.**withTimeout**(duration, unit);`
- in tests:
`verify(beforeAllListener).on(**isNull**(String.class), **notNull**(WebDriver.class), eq(NavigateAllListener.Direction.BACK));`

[2018-07-09 07:29] koryl opened #600 "Set default timeout and polling interval for Wait hook annotation"
When using @ Wait annotation it should be set timeout and polling interval for some meaningful values.
For now default value is -1L which is converts for null an this behavior is not helpful at all.
Default timeouts should be set similarly to default await() method:
- timeout: 5 seconds
- polling interval: 500 ms

[2018-07-09 07:36] koryl opened #601 "Bad default timeout in documentation"
In documentation in section **Wait for an Ajax Element to be available** is written that default timeout is set to 500 ms, which is wrong. I checked in the constructor of the class _org.fluentlenium.core.wait.FluentWait_ and the default value is set to 5 seconds:
[code]

[2018-07-09 13:46] gszczutkowski opened #602 "Reseting FluentList of Components not work correctly"
I am not sure if it should work(could not find it in docs) but it looks like there are some problems with refreshing FluentList of Components.
I have added a few tests in ComponentListTest class in https://gitlab.com/g.szczutkowski/fluentlenium-list-test.git to indicate the problem.

If it works as expected then I think that docs should be updated accordingly - it is really not clear how to use Fl

[2018-07-10 14:30] gszczutkowski commented on #601
Created pull request with docs update

[2018-07-11 11:56] salvada opened #604 "When using fluentlenium version 3.6.1 doesn't work"
Using fluentlenium 3.5.2 with selenium 3.9.1 everything works well. I tried to update to fluentlenium 3.6.1 with selenium 3.12.0 i get this message

Expected only one instance, but found too many: [cucumber.runtime.java.spring.SpringFactory@50b494a6, cucumber.runtime.java.picocontainer.PicoFactory@3cef309d]
More than one Cucumber ObjectFactory was found in the classpath

You probably may have incl

[2018-07-11 19:31] filipcynarski commented on #491
Issue resolved, code merged to develop

[2018-07-11 19:31] #491 closed

[2018-07-11 19:40] filipcynarski commented on #604
@salvada could you please provide isolated issue in source code example? From your issue I understand you are using cucumber module, but it is not enough information for me to make sure is the issue resolved or not. It would be good if I can test we can fix the issue in next release.

[2018-07-12 07:58] salvada commented on #604
@filipcynarski What do you mean for isolated issue?

[2018-07-12 18:19] gszczutkowski commented on #588
Created pull request #606 connected to this issue

[2018-07-13 14:35] tanvirqa17 commented on #510
@gaponte1985 Can please let me know how you solved that issue? I am facing the same issue, I extented FluentCucumberTest and FluentTest, but still facing the same issue.

[2018-07-18 06:55] TomaszSzyborski opened #607 "File Upload doesn't work - version 3.6.1"
Chrome Verison: 67.0.3396.87
FluentLenium Version: 3.6.1

Assume scenario in which user wants to upload file.
Usually via Selenium or Fluent one has to find input field to fill with path to file (as String).
Pure Selenium works as follows:
[code]
In Fluent following approches were used (and every one failed):
[code]
[code]
[code]
In each and every attempt, the uploadFileField gets cleared after fi

[2018-07-18 07:22] salvada commented on #604
You can close the issue. It was necessary to exclude dependencies that fluentlenium-cucumber brings

		<dependency>
			<groupId>org.fluentlenium</groupId>
			<artifactId>fluentlenium-cucumber</artifactId>
			<version>${fluentlenium.version}</version>
			<scope>test</scope>
			<exclusions>
				<exclusion>
					<groupId>io.cucumber</groupId>
					<artifactId>cucumber-core</artifactId>
				</exclusio

[2018-07-18 07:22] #604 closed

[2018-07-19 05:44] TomaszSzyborski commented on #607
My mistake, root cause was file path handling.
Closing.

[2018-07-19 05:44] #607 closed

[2018-07-24 07:33] norbertas-gaulia commented on #510
Same here any news?

[2018-07-31 18:15] aga-stefa opened #609 "2 modules in docs: 1 a nutshell, 2nd more advanced"

[2018-07-31 18:30] aga-stefa opened #610 "Gitbook as docs source"

[2018-08-14 05:24] koryl opened #611 "Update Cucumber to 3.0.2"
Update dependencies for fluentlenium-cucumber module:
- cucumber-core
- cucumber-junit
- cucumber-java8
- cucumber-picocontainer

[2018-08-14 05:32] koryl opened #612 "Change handling Before and After from Cucumber"
I was noticed, that when using FL with Cucumber, the user is forced to add in every single class hooks Before(super::before) and After(super::after) due to fact, that Cucumber makes adding these hooks to BaseTest and inheriting them impossible. When these hooks are stored in single class, NullPointerException is occurred.
To prevent this, I propose to check possibility to use composition over inhe

[2018-08-16 09:57] koryl commented on #611
Created pull request -> #613

[2018-08-16 09:57] #611 closed

[2018-08-16 10:03] koryl commented on #595
It can be related to #491, which is on develop branch.
I think second issue is strictly related to usage not() and it needs further investigation.

[2018-08-17 13:48] koryl commented on #497
Due to the fact that fluentlenium-e2e module was deleted, I am closing this issue.

[2018-08-17 13:48] #497 closed

[2018-08-18 09:29] koryl commented on #597
I was searching of something like this, I think it is good idea. I was thinking also about passing FluentWebElement to el() or $() to reuse selectors to fight with StaleElementException.

[2018-08-20 07:31] filipcynarski commented on #597
The second one is separate feature, let's add new task for that

[2018-08-20 07:47] filipcynarski opened #616 "Selenium 3.14.0 upgrade"
Selenium upgrade + htmlunit as well

[2018-08-20 07:47] #616 closed

[2018-08-21 05:35] koryl opened #617 "Add possibility to reuse FluentWebElement selector in $() and el() methods"
As a user I would like to put already created FluentWebElement in $() and el() methods to re-use it's selector and search again for certain element on the page's context.

[2018-08-21 11:39] koryl commented on #612
Pull request #618 waiting for merge.
This new feature makes FluentLenium to handle of creation Cucumber steps and thanks to that it is possible to use FL without inheritance from FluentCucumberTest.

[2018-08-21 11:39] #612 closed

[2018-08-21 17:58] koryl commented on #600
Created pull request #619, with setting default atMost timeout 5000 Milliseconds and pollingEvery 500 Milliseconds.

[2018-08-21 17:58] #600 closed

[2018-08-22 06:43] koryl opened #620 "Add documentation for FluentCucumber new way of integration"
With updating Cucumber to version 3.0.2 #611 and providing FluentCucumber with implementation of FluentObjectFactory #612 it was changed way in which FluentLenium integrates with Cucumber - now it's more efficient in terms of managing resources and less cumbersome due to fact you don't need to add repetitive hooks Before and After into your code. Moreover, now it is not necessary to extends Fluent

[2018-08-23 15:53] jlannoy commented on #536
Hello all.

Today I wanted to update from 3.4.1 to 3.6.1... But hundreds of lines are not compiling anymore. In fact, by resolving this issue, you deleted all what you consider as ambiguous methods.

But these methods were not so ambiguous. As the selector allows you to specify a lot of different approaches, you can directly point to one specific element. Writing `$("#my-element").text()` seems a

[2018-08-24 08:14] filipcynarski commented on #536
Thank you Jonathan for the information, the methods were deprecated I think for some time but we finally rid these methods out. My personal opinion using lists when you expect one element doesn't make sense and it is better to use `el` instead of `$` that's why we decided to remove the methods which may blow up if the list size greater then `1`. I know somebody might rely on the logic before, we c

[2018-08-24 18:58] gszczutkowski commented on #602
Created pull request with tests showing this issue. Added WIP because I am not sure if all tests are correct.

[2018-08-26 09:31] jlannoy commented on #536
Hi Filip.

I did never pay attention to the `el` but it make sense :)

It's not an issue for me not to be on the last Fluent version, I don't think I would have commented the issue, but let me explain the context. I'm an active contributor of [Ninja Framework](http://www.ninjaframework.org), which proposes FluentLenium in it's stack. Some days ago I proposed [a PR](https://github.com/ninjaframewor

[2018-08-30 14:00] koryl commented on #620
Documentation was added.

[2018-08-30 14:00] #620 closed

[2018-08-31 06:15] koryl opened #625 "Exception during building FleuntLenium project: java.lang.instrument.IllegalClassFormatException"
During building  I've noticed bunch of weird looking exceptions:
`java.lang.instrument.IllegalClassFormatException: Error while instrumenting class com/gargoylesoftware/css/parser/javacc/CSS3ParserTokenManager.
        at org.jacoco.agent.rt.internal_b0d6a23.CoverageTransformer.transform(CoverageTransformer.java:95)
        at sun.instrument.TransformerManager.transform(TransformerManager.java:188

[2018-08-31 09:33] filipcynarski opened #626 "Remove lombok"
The Lombok is not bad but it was used almost everywhere and makes complex code harder to understand. We want to maintain easy to read and follow-up code now it requires a lot of time to dive into it.

Within Lombok removal we need to refactor a lot of classes and we want to do it as a piggy back as well.

[2018-08-31 09:42] koryl opened #627 "Give possibility to easier access to FluentInjector"
The idea is to give possibility to **qualifying** classes for injection **without actually initializing** FluentDriver. It could be even functionality provided by separated internal module and can be exposed as separated dependency injection container.
Another motivation is to make FL architecture not such closely related and enables further refactoring.

[2018-09-06 13:53] nsherif opened #628 "Improvement: Allow DragAndDropBy to accept a target element as a parameter"
It would be very useful if we could drag the source element, move by an offset from the target element, then drop it to the target element.

This is the equivalent selenium code:
`  Actions builder = new Actions(driver);
    builder.clickAndHold(sourceElement)
    .moveToElement(targetElement, xOffset, yOffset)
    .release()
    .perform();`

Apparently, this is not possible with the current flue

[2018-09-07 07:27] filipcynarski commented on #588
The issue is resolved as a result of #606 cheers!

[2018-09-07 07:27] #588 closed

[2018-09-07 07:32] filipcynarski commented on #536
@jlannoy FluentLenium was massively changed last year so the version 3 in comparison to 2 is totally different. It was basing on real experience related to mine and @Toilal case. We are working in companies with a huge sets of Selenium tests and complex software examining by such tests. So the project is tested by real users :) Please let me know what you need now or what we need to change/improve

[2018-09-07 07:34] filipcynarski commented on #492
So let's skip this feature, I cannot see more advantages except cleaner architecture.

[2018-09-07 07:34] #492 closed

[2018-09-07 07:39] filipcynarski commented on #335
I have used this library and it wasn't very stable so if somebody wants to use it can include in FluentLenium, I woudn't add it as a main part of FL

[2018-09-07 07:40] filipcynarski commented on #335
But it can be described in docs for sure

[2018-09-07 09:08] jlannoy commented on #536
@filipcynarski I don't understand the sense of your answer... We are using FL on production projects with big sets of tests too. Through the use of NinjaFramework, but it doesn't change the fact that I'm giving you real user experience... Even more, it's because I think that there will be other real users surprised that I'm telling you.

I'm sorry to tell again, but going from **3.4.1** to **3.6.1

[2018-09-07 10:33] filipcynarski commented on #536
Sorry I had to miss the point you faced the issue on the same version. Thank you for pointing this out. We will keep in mind that such changes may affect a lot of users.

[2018-09-07 10:33] #536 closed

[2018-09-24 07:28] salvada opened #629 "When using Fluentlenium 3.7.0 getCapabilities() does not work."
When using getCapabilities with 3.7.0 I get an error that claims that the object cannot be converted to JSON object.
When trying to debug I noticed that there was a change in PropertiesBackendConfiguration.java

BEFORE: return jsonConverter.toType(property, DesiredCapabilities.class);
NOW: return (Capabilities)this.jsonConverter.toType(property, DesiredCapabilities.class);

[2018-10-01 20:00] nikmanG commented on #626
This issue still open for doing?

[2018-10-02 07:44] filipcynarski commented on #626
Yes, it is a new one

[2018-10-05 01:54] bobtiernay-okta opened #630 "Upgrade JUnit 5 to latest stable."
Using older versions or JUnit 5 leads to classloading issues on startup. `5.3.1` is the latest stable whereas `fluentlenium-junit-jupiter` is on `5.1.0`:

https://github.com/FluentLenium/FluentLenium/blob/develop/fluentlenium-junit-jupiter/pom.xml#L24

[2018-10-11 11:13] paulsjohnson91 opened #631 "Annotation Processors not working in java 10/11"
In java 10 and 11, lazy objects are initializing.

## Expected Behavior
[code]
@Page object should initialize and FluentLenium should go to the page

## Current Behavior
examplePage is null so is throwing a NullPointerException.

This also happens with lazy locators with @FindBy

## Context (Environment)
Tried with both Java 10 and 11 on FluentLenium version 3.7.0

[2018-10-17 12:16] koryl commented on #631
Thank you for your feedback! FluentLenium was checked mainly for jdk8 and I will try to find the reason for such behavior in newer versions. It is important for us to bring FL to the upcoming Java 11.

[2018-10-17 12:31] koryl commented on #629
Thank you for this bug report! There was some changes in PropertiesBackendConfiguration related to changes in Selenium itself and we will modify this in the next milestone.

[2018-10-22 20:16] kputh commented on #602
Are you refering to _FluentList.reset()_? I believe I have cases in my tests where the method fails outside of Components.

[2018-11-09 21:05] kputh commented on #129
I think I've run into the same problem with input type _time_. More input types could be suffering from this problem.

[2018-11-23 05:50] filipcynarski commented on #625
I'm seeing that on OS X as well.

[2018-11-23 06:02] filipcynarski commented on #625
I think we are facing it due to jacoco agent issues, it was described here, I'll try to fix it.

[2018-11-23 07:00] filipcynarski commented on #625
Exception is handled, will be pushed to the code base today.

[2018-11-23 07:00] #625 closed

[2018-11-23 07:21] filipcynarski opened #632 "Selenium bumpup 3.141.59"
Selenium bumpup 3.141.59

[2018-11-23 08:33] #630 closed

[2018-11-23 08:34] filipcynarski commented on #630
@bobtiernay-okta it is done in 3.7.1-SNAPSHOT we will release the newest version soon. If you would like to have such simple upgrades available, please create pull request and we can merge it to code base faster.

[2018-11-23 12:52] bobtiernay-okta commented on #630
Will do next time, thanks!

[2018-12-05 10:34] Kingyo opened #634 "Create a new session after calling quit()"
Hello,

I am trying to implement a retry rule on my tests and for each retry I need to open a new private window.
I tried to close the session by calling .close() then .quit() and to open a new one by calling newWebDriver to initialize a new session.
Going through my newWebDriver doesn't crash but my test begin with goTo(myPage); and here it fails.

The stack is: org.openqa.selenium.NoSuchSessionE

[2018-12-05 11:55] filipcynarski commented on #634
Hello,

You should let FluentLenium to manage Browser life-cycle and closing webdriver by hand is bad idea.

Why haven't use surefire retry mechanism:

[code]

Please set DriverLifecycle.METHOD or different config which works for you.

http://fluentlenium.org/docs/ go to driverLifecycle section.

If you need more help - please archive your project it would be easier for me to provide working solut

[2018-12-05 14:52] Kingyo commented on #634
Thank you for your anwser. I have to manage the Browser life-cycle due to my use of Fluentlenium sadly.

Anyway, I found my anwser. In case of anyone will have the same problem, here is my new retry:

[code]

I added releaseFluent() before the initialization of my new driver, and then I set the new driver by sending the new driver to initFluent().

[2018-12-07 13:23] jens-meiss opened #635 "Upgrade from 3.4.1 to 4.0.0 missing methods .text() .value() .textContent() .attribute("")"
Hi, maybe i'm wrong but the doc's still say's that these methods are available:

* "Information" section
* $(".fluent").text()
* $(".fluent").value()
* $(".fluent").textContent()
* $(".fluent").attribute("myCustomAttribute")

But i can't find them in:

* https://github.com/FluentLenium/FluentLenium/blob/v4.0.0/fluentlenium-core/src/main/java/org/fluentlenium/core/domain/FluentList.java

they are n

[2018-12-07 13:34] jens-meiss commented on #635
ok, thx for the quick response :)

since i have an abstract parent class for all the pages i think i will add the missing methods to this class or i have to change hundrets maybe thousand lines of code :)

i think 3.4.1 was the last version containing these methods, i can't find them in 3.5.0 as well ...

but i think you should fix the documentation about this anyway :)

[2018-12-07 13:36] slawekradzyminski commented on #635
Yes, I agree it's a documentation bug. Thanks for reporting.

[2018-12-07 14:01] #635 closed

[2018-12-07 14:16] slawekradzyminski commented on #634
Thanks @Kingyo that can be helpful :)

Still, as Filip noted we recommend managing browser lifecycle by @FluentConfigutation.

[2018-12-07 14:16] #634 closed

[2018-12-07 15:05] slawekradzyminski commented on #629
Have you tried capabilities() method instead of getCapabilities()? In our tests using FluentLenium 4.0.0 getCapabilites() is null but capabilities() work well.

` @Test
    public void example() {
        Capabilities capabilities = capabilities();
        Capabilities getCapabilities = getCapabilities();
        assertThat(capabilities).isNotNull();
        assertThat(getCapabilities).isNotNull()

[2018-12-13 06:55] slawekradzyminski commented on #533
@filipcynarski do want to repackage implementation classes as well? It would make sense to have implementation + tests in the same packages. My worry is that those changes would be breaking (users would have to update imports).

[2018-12-13 07:31] filipcynarski commented on #533
we can introduce the next major version to highlight such change if it helps and make sense I'd like to change it.

[2018-12-14 18:13] slawekradzyminski commented on #602
I believe that the easiest solution for that bug would be:
1. Implement _.reset()_ method for FluentPage which will trigger _newInstance(Given.class)_ underneath
2. State clearly in the documentation that whenever DOM changes new element/page/list instantiation is required (or reset which does the same underneath).

[2018-12-14 21:41] slawekradzyminski opened #637 "await() with @FindBy FluentList fails"
See commit below:

There are three tests that in theory should work the same:
1. waitForListChangeFromPageObjectUsingList() passes
2. waitForListChangeFromPageObjectUsingFluentListAnnotation() fails on await()
3. waitForListChangeFromPageObjectUsingFluentListAnnotationWithReset() fails on assertion()

The first one gets elements list by $(".row") and works fine.
The second one gets elements list b

[2018-12-14 21:49] slawekradzyminski commented on #602
#637 needs to be fixed before this one as it fails on more basic FluentList case

[2018-12-16 16:11] slawekradzyminski commented on #340
Closing this because it seems to be browser specific. If https://github.com/w3c/webdriver/issues/406 is done this feature request can be reopened.

As a workaround, you can capture console errors in Chrome:

`@After
    public void verifyConsoleErrors() {
        Logs logs = getDriver().manage().logs();
        LogEntries logEntries = logs.get(LogType.BROWSER);
        List<LogEntry> errorLogs = l

[2018-12-16 16:13] #340 closed

[2018-12-18 14:20] slawekradzyminski commented on #637
Changes will be made together with bugfix/#602

[2018-12-18 14:20] #637 closed

[2018-12-21 13:45] #565 closed

[2018-12-21 13:48] slawekradzyminski opened #640 "Add IEDriver / Edge examples & extend Spring-based example framework"
After #565 is done we need to add examples on Microsoft based browsers

[2018-12-21 15:15] slawekradzyminski commented on #629
@salvada I'm not sure if that's the bug. Can you please paste us your @FluentConfiguration line? Assuming you were using headless Chrome here is how it should look

[code]

[2018-12-21 22:48] #640 closed

[2018-12-23 16:07] slawekradzyminski opened #642 "Change docs structure"

[2018-12-26 19:04] slawekradzyminski opened #645 "Add docs build into CI"
Docs build process should be known and testable for users. Currently, I can only verify my changes locally.

[2018-12-26 19:16] slawekradzyminski opened #646 "Remove org.atteo.classindex maven dependency from fluentlenium-core"
This is a rather unknown library and potential contributors most likely have to Google how it works. Currently, it's well maintained but it can change at any moment.

 It's used only in one place (AbstractFactoryRegistryImp) + Annotations in CapabilitiesFactory & WebDriverFactory.

[2018-12-28 06:14] filipcynarski commented on #486
It is done by @slawekradzyminski

[2018-12-28 06:14] #486 closed

[2018-12-28 06:14] #389 closed

[2018-12-28 06:15] filipcynarski commented on #389
there is no big advantage of adding this stuff here. Let's skip it.

[2018-12-28 06:15] filipcynarski commented on #642
It is good enough I think. Thanks @slawekradzyminski

[2018-12-28 06:15] #642 closed

[2018-12-28 15:23] slawekradzyminski opened #650 "Add DriverLifecycle.THREAD unit tests into SharedWebDriverContainerTest"
One of the most important features is not tested on the unit level.

[2018-12-28 20:17] slawekradzyminski commented on #533
Let's close it and create a new task for repackaging (core + tests)

[2018-12-28 20:17] #533 closed

[2018-12-30 00:16] slawekradzyminski commented on #628
Thanks for report @nsherif  I'll take a look into it.

Looking at MouseElementsAction the root cause seems clear. Constructor accept only _sourceElement_ and then it's impossible to pass _targetElement_. We labeled it as a feature but since pure Selenium offers it you may argue that it's a bug :)

[2018-12-30 18:06] #628 closed

[2018-12-30 18:15] filipcynarski commented on #469
Lombok has been removed from FluentLenium

[2018-12-30 18:15] filipcynarski commented on #454
Lombok has been removed in FluentLenium @kutzi starting from 4.1 version (release should be soon) you won't face this issue anymore. Cheers!

[2018-12-30 18:16] filipcynarski commented on #626
Code merged task is done

[2018-12-30 18:16] #626 closed

[2018-12-30 18:17] filipcynarski commented on #610
We decided to not use gitbook

[2018-12-30 18:17] #610 closed

[2018-12-30 18:19] filipcynarski commented on #323
It is crazy idea :) All the hook logic is very complicated and I do not want to add much more complexity if somebody doesn't need this functionality. Honestly I don't know if somebody using Hooks feature.

[2018-12-30 18:19] #323 closed

[2018-12-30 18:32] slawekradzyminski opened #653 "Minor docs updates for #629 nad #628"
Minor docs updates for #629 nad #628.

Also a couple of typos to fix.

Task for me so I don't forget :)

[2018-12-30 18:37] slawekradzyminski commented on #515
I made few fixes here and now this class is called SharedWebdriverSingletonImpl. @filipcynarski  you can take a look and decide if it's still worth doing:

package org.fluentlenium.adapter.sharedwebdriver;

[2018-12-31 11:53] slawekradzyminski opened #654 "Extend AssertJ module"
We have a couple of FluentWebElement / FluentList methods that can be wrapped in AssertJ module (the most important being clickable()). It's a rather easy and enjoyable task (following the same existing pattern).

 Also, Coveralls complain that we don't cover error messages in tests. This can be done by using assertThrownBy() instead of Test (expected = AssertionError.class). Can be done here as w

[2019-01-01 11:17] nsherif opened #655 "Bug: @org.fluentlenium.adapter.junit.After is not executed on test success (JUnit)"
When using `@org.fluentlenium.adapter.junit.After` and configuring the screenshot on `org.fluentlenium.configuration.ConfigurationProperties.TriggerMode.AUTOMATIC_ON_FAIL`, the after method is not executed in case of a **successful** test.

[2019-01-01 20:03] slawekradzyminski commented on #655
Thanks for report @nsherif

I took a look and it seems like this feature is not complete. Currently `@org.fluentlenium.adapter.junit.After` is triggered instantly after test failure (see `FluentTestRule` class for implementation). `TriggerMode.AUTOMATIC_ON_FAIL` config doesn't seem to change anything here.

It should work like this:
1. `@org.fluentlenium.adapter.junit.After` should be triggered in

[2019-01-02 15:48] paulsjohnson91 commented on #631
Unfortunately I'm still getting the same issues as before.

`java.lang.IllegalArgumentException: Page is mandatory`

The annotators are not initialising the page objects.

Checked on version 4.0.0. with Java 11

[2019-01-02 15:49] slawekradzyminski commented on #631
@paulsjohnson91 Can you please share complete class code?

[2019-01-02 16:10] paulsjohnson91 commented on #631
`  private final String BO_USERNAME = prop("operatorUserName");
  private final String BO_PASSWORD = prop("operatorPassword");

  @Page
  private LogInPage logInPage;

  @Page
  private DashboardPage dashboardPage;

  @Before
  public void before(Scenario scenario) {
    super.setUpBefore(scenario);
  }

  @After
  public void after(Scenario scenario) {
    super.tearDownAfter(scenario);
  }

  @G

[2019-01-02 16:16] slawekradzyminski commented on #631
@paulsjohnson91 please copy/paste everything with imports. That would be helpful :)

[2019-01-02 20:14] slawekradzyminski commented on #631
Can you try to extend `FluentCucumberTest` as stated in docs?
http://fluentlenium.org/docs/test-runners/#cucumber

[2019-01-03 17:28] slawekradzyminski opened #658 "TriggerMode.AUTOMATIC_ON_FAIL isn't triggered instantly when @AfterAll is present in Junit5"
#655 continuation.

Using JUnit5 even though user configures TriggerMode.AUTOMATIC_ON_FAIL screenshot is created after annotation code method execution.

In JUnit4 we have implemented custom After annotation to solve this issue.

Not sure if this feature works in TestNG.

[2019-01-03 17:40] slawekradzyminski commented on #658
This is great task to learn JUnit 5 :)

[2019-01-03 18:19] paulsjohnson91 commented on #631
Hi The AbstractCucumberTest class extends the FluentCucumberTest class.

Thanks,

[2019-01-04 08:40] koryl commented on #631
Hi @paulsjohnson91, I was trying reproduce mentioned by you issue and I found out that it is not related with Java 11 because it worked for me smoothly.

Please, make sure that your runner class uses
`@RunWith(FluentCucumber.class)`
instead of
`@RunWith(Cucumber.class)`
When using Cucumber.class as runner I've noticed the problem and message you have mentioned (but not always which is confusing).

[2019-01-04 10:14] paulsjohnson91 commented on #631
Hi, For the scenario listed above I was not running with a runner I was running directly from the IDE. When we use runners we are using AbstractTestNGCucumberTests not JUnit. This setup was working before with Java8 using both the IDE and the TestNG runner to execute the tests.

[2019-01-04 16:49] koryl commented on #631
I've merged bugfix to develop and it will be incorporated into next version.
@paulsjohnson91, this fix will resolve problem with creating instances of Pages but not with elements annotates with FindBy. If this is still an issue please try earlier mentioned FluentCucumber runner or create elements with use FluentWebElement element = el("#locator") instead.

[2019-01-04 17:03] slawekradzyminski opened #660 "Update docs to use newly added sidebar"
Docs can be made better and merged into one with sticky sidebar added in https://github.com/FluentLenium/FluentLenium/pull/656

[2019-01-04 17:04] slawekradzyminski opened #661 "Add performance tests"
https://dzone.com/articles/jmh-great-java-benchmarking
https://www.baeldung.com/java-microbenchmark-harness

[2019-01-04 20:42] paulsjohnson91 commented on #631
Great thanks, the page issue was fixed by this as long as I added the following to my test step classes:
`  @Before
  public void before(Scenario scenario){
    super.before(scenario);
  }`

I'm not currently having issues with elements which are initialised with @Findby so everything seems to be working as expected now.

Thanks for the help

[2019-01-04 21:47] slawekradzyminski commented on #655
Fix merged

[2019-01-04 21:47] #655 closed

[2019-01-04 21:48] slawekradzyminski commented on #599
Done

[2019-01-04 21:48] #599 closed

[2019-01-04 21:52] slawekradzyminski opened #662 "Dev environment - investigate possibility to add checkstyle into CI, enforce imports convention, create contribution site in docs"
@picimako mentioned in one of his pull request:

We need to clarify at least 3 things here:
1. Coding standards - do we use Google or IntelliJ default?
2. Can we add checkstyle into CI? Wouldn't it be annoying?
3. Create 'Contribution guide' site on https://fluentlenium.com

[2019-01-04 21:58] #631 closed

[2019-01-05 07:24] picimako opened #664 "UrlTemplate#put(Map) doesn't set properties"
The `put(Map)` method of [UrlTemplate](https://github.com/FluentLenium/FluentLenium/blob/4b0d551b8d32a9bc83e35b30ebf9aa3b565d6f3b/fluentlenium-core/src/main/java/org/fluentlenium/core/url/UrlTemplate.java) looks like the following:

[code]

which doesn't really seem correct. Instead, based on the `put(String, String)` method I think it should put the argument values to the `properties` map.

[2019-01-05 08:14] slawekradzyminski commented on #664
Thanks @picimako

Would you be able to fix it?

I think we should do the following in this task:
1. Make _put(String, String)_ and _putAll(Map<String, String>)_ non public - users should use _add()_ and _addAll()_
2. Fix addAll() and put(Map<String, String>)
3. Add tests for addAll()

add()

[2019-01-05 09:06] picimako commented on #664
@slawekradzyminski

Sure, I will create a fix. However I have some questions:
1. What do you mean by non-public, protected or package-private?
2. Could you please clarify what the problem is with `addAll()`?

[2019-01-05 09:19] slawekradzyminski commented on #664
@picimako sorry, I didn't investigate too deep :)

_addAll()_ looks ok - please add tests to make sure

Let's just fix _put(Map<String, String>)_ and leave everything as is. I'll let you decide ;)

[2019-01-05 14:48] slawekradzyminski commented on #664
It's done, thanks @picimako

[2019-01-05 14:48] #664 closed

[2019-01-05 19:39] slawekradzyminski commented on #660
Done

[2019-01-05 19:39] #660 closed

[2019-01-05 22:56] slawekradzyminski commented on #645
Done. I had also made build faster. I'm now Travis CI expert 🥇

[2019-01-05 22:56] #645 closed

[2019-01-06 20:00] slawekradzyminski commented on #583
Closing - Gradle settings was the root cause

[2019-01-06 20:01] #583 closed

[2019-01-06 20:01] slawekradzyminski commented on #584
Closing - no response

[2019-01-06 20:01] #584 closed

[2019-01-06 20:09] slawekradzyminski commented on #609
It won't be done. Let's wait for users feedback about new docs first.

[2019-01-06 20:09] #609 closed

[2019-01-07 02:11] FDU-SE-LAB opened #673 "Your project FluentLenium/FluentLenium is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2019-01-07 07:00] slawekradzyminski opened #674 "Add low-level security scanners"
There seems to be a lot of tools for scanning popular GitHub repos and posting results in issues or notifying owners (security-related). We may proactively protect ourselves with tools like:
a) OWASP Dependency check
https://www.awesome-testing.com/2017/02/continuous-security-with-owasp.html
b) Find-Sec-Bugs
https://www.awesome-testing.com/2018/11/continuous-security-with-find-sec-bugs.html

After

[2019-01-07 16:03] slawekradzyminski opened #675 "Migrate to travis-ci.com"
We've been invited as beta testers to travis-ci.com

[2019-01-07 16:50] filipcynarski commented on #675
We have moved to travis-ci.com, very smooth process. Please feel free to reopen the issue if you face any issue after migration.

[2019-01-07 16:50] #675 closed

[2019-01-07 17:10] slawekradzyminski commented on #675
How about badge in README?:)

[2019-01-08 07:01] slawekradzyminski opened #677 "Reorganize integration tests in fluentlenium-core"
Cleanup is required here. It's hard to figure out what's tested and what is not. Those are the most important tests for our users perspective and should be better maintained.

That's rather enjoyable task :)

https://github.com/FluentLenium/FluentLenium/tree/develop/fluentlenium-core/src/test/java/org/fluentlenium/integration

[2019-01-08 14:43] whitejeffreyl opened #679 "FluentLenium website is down"
FluentLenium website is down
![screen shot 2019-01-08 at 9 42 59 am](https://user-images.githubusercontent.com/4417751/50837535-dc2c7a00-1329-11e9-8caa-cc66b4cbfdda.png)

[2019-01-08 14:51] filipcynarski commented on #679
hello @whitejeffreyl FluentLenium site has been moved to .com domain. http://fluentlenium.com
.org domain belongs to @MathildeLemee and she wasn't been able to set redirect and we decided to move to .com domain because of better control and renewals sorry for inconvenience but we are trying to organize all of the stuff around project to be better manageable and split responsibility to all members

[2019-01-08 14:51] #679 closed

[2019-01-08 15:01] filipcynarski commented on #679
I've added small workaround to handle this issue: http://fluentlenium.org/ hope it will safe other's people time

[2019-01-08 15:10] koryl opened #680 "Logo overlays navigation links"
On the fluentlenium.com, when the browser is resized the logo overlays the navbar and links are hard to click:
![image](https://user-images.githubusercontent.com/32077974/50839038-c2a62500-135f-11e9-90db-1e65d207637c.png)

[2019-01-09 07:14] slawekradzyminski commented on #545
Closing - priority too low

[2019-01-09 07:14] #545 closed

[2019-01-09 07:15] slawekradzyminski commented on #617
Closing - duplicates #597

[2019-01-09 07:15] #617 closed

[2019-01-09 07:17] slawekradzyminski commented on #540
Closing - priority too low

[2019-01-09 07:17] #540 closed

[2019-01-09 07:20] slawekradzyminski opened #681 "Pass selectors to error messages in AssertJ module"
After #654 (AssertJ extension) and #597 (getSelector()) are done we should make failure messages more meaningful.

After #654 it will be:
_Element in assertion is present but not clickable_

Ideally it should be:
_Element By.cssSelector("selector") is present but not clickable_

[2019-01-09 08:16] slawekradzyminski commented on #493
@tjacoby can you please share your code?:)

[2019-01-09 10:18] tjacoby commented on #493
Sorry this was developed for a former employer. I don't have access to the code anymore.

[2019-01-09 13:50] slawekradzyminski opened #682 "Further examples improvements for beginners"
In examples, I have tried to be as beginner friendly as possible. Unfortunately, the method below works only on Windows.

[code]

On mac if user installs chromedriver via `brew cask install chromedriver` system property isn't set, but executable is added to $PATH.

Perhaps we can make it even more friendly by adding `ExecutableFinder` as well
https://github.com/SeleniumHQ/selenium/blob/master/java

[2019-01-10 14:37] slawekradzyminski commented on #654
Done

[2019-01-10 14:37] #654 closed

[2019-01-11 14:18] slawekradzyminski commented on #682
Done

[2019-01-11 14:18] #682 closed

[2019-01-12 19:22] slawekradzyminski opened #684 "Add Google Analytics to site"
https://desiredpersona.com/google-analytics-jekyll/

[2019-01-13 08:39] slawekradzyminski opened #686 "Upgrade Cucumber version to latest"
We seem to use old Cucumber version (3.0.2) with 4.2.1 being LATEST.

An upgrade isn't straightforward. Everything becomes red after a bump :)

It also prevents adding OWASP Dependency-Check into CI (unless we suppress alerts) because it's using insecure library.

[code]

[2019-01-13 08:47] slawekradzyminski commented on #674
done

[2019-01-14 05:51] slawekradzyminski commented on #674
There seems to be spotbug successor https://github.com/spotbugs/spotbugs

I'm confused now and need to check :)

[2019-01-17 14:40] salvada commented on #629
Hi all,

yes I tried with 3.7.1 to use capabilities() and i get null, while with the
getCapabilities() the problem reported in the issue is still there.
So both cases don't work for me.
I am using 3.6.1 fluentlenium version that works still fine for me.
You have closed the issue, do you have other suggestion to fix this
capabilities problem?

P.S:
I tried to use also fluentlenium 4.0.0 but I get a

[2019-01-21 16:15] slawekradzyminski commented on #684
Done

[2019-01-21 16:15] #684 closed

[2019-01-22 14:09] kputh opened #689 "Correct name of method takeScreenShot() in documentation"
Hi,

The documentation refers to methods names _takeScreenShot()_ and _takeScreenShot(String)_. But somewhere between FluentLenium 3.4 und 3.7 these methods were renamed to _takeScreen**s**hot()_ and _takeScreen**s**hot(String)_. Please update the documentation. Thank you.

Regards,
Kai

[2019-01-24 13:28] slawekradzyminski opened #690 "Add method clearing react input"
In Chrome 71 the following has been changed:
https://github.com/SeleniumHQ/selenium/issues/6741
https://bugs.chromium.org/p/chromedriver/issues/detail?id=2702&q=&sort=-id&colspec=ID%20Status%20Pri%20Owner%20Summary

Since we claim on front page that we support React we need to create a new method which solves it. Preferably as barancev suggested.

[2019-01-25 12:42] slawekradzyminski commented on #677
Done - I made a task a little bit more interesting by introducing Junit 5 and configuring global code coverage

[2019-01-25 12:43] #677 closed

[2019-01-25 13:00] slawekradzyminski opened #691 "Integrate Google Lighthouse fluentlenium.com check here"
https://web.dev/fast/using-lighthouse-ci-to-set-a-performance-budget

[2019-01-27 21:01] koryl commented on #686
I've just checked and there is already 4.2.2. I will look on this issue.

[2019-01-28 14:15] slawekradzyminski commented on #690
Done

[2019-01-28 14:15] #690 closed

[2019-01-30 13:49] slawekradzyminski opened #694 "Add unit tests reproducing issue with 4.1.0 release"
During Delombok I deleted too many methods which were previously accessible in FluentWebElement by Lombok Delegate on FluentControl. They had to be readded.

https://github.com/FluentLenium/FluentLenium/pull/693/files

We need to add tests to avoid it in the future.

[2019-01-30 13:52] slawekradzyminski opened #695 "Appium integration"
Let's check if FluentLenium can be used with Appium:
http://appium.io/docs/en/drivers/windows/
http://appium.io/docs/en/drivers/mac/

[2019-01-31 11:09] slawekradzyminski opened #696 "Add constructor accepting FluentWebElement to ElementActions and add missing moveByOffset method"
I have to write

[code]

It should be possible to just use FluentWebElement
[code]

[2019-01-31 14:41] slawekradzyminski commented on #696
done

[2019-01-31 14:41] #696 closed

[2019-02-01 10:47] pure4Sk opened #698 "isAt assertion throw exception even url matches"
Tested url: https://lab6-us.awp.autotask.net/webhome?X2H2KPV_1a=FX2U-8GJL-RSVA-VRIT-EA1U#/dashboard/ViewDashboard.action

Anotation on pageObject
`@PageUrl("https://lab6-us.awp.autotask.net/webhome{server}/dashboard/ViewDashboard.action")`

In test step
[code]

Err

[2019-02-01 10:49] pure4Sk commented on #698
Anotation
`@PageUrl("/webhome{server}/dashboard/ViewDashboard.action")`
doesnt work either.

[2019-02-01 11:32] slawekradzyminski opened #699 "Fix for Chrome issue related to new window open event"
It seems like Chrome 70.0+ workaround we introduced in commit below isn't sufficient. Chrome still hangs after triggering `clickAndOpenNew()` method

https://github.com/FluentLenium/FluentLenium/commit/09ec4f5004b9b19df093a63e903e5e05743a2ddf

Let's try to fix it in nice way. In worst case scenario we can extend sleeping time ;)

[2019-02-01 12:40] pure4Sk commented on #698
<fluentlenium.version>3.6.1</fluentlenium.version>

[2019-02-03 12:06] slawekradzyminski commented on #698
done

[2019-02-03 12:06] #698 closed

[2019-02-07 14:06] wriki commented on #510
Hi,
I am also facing the same issue. Can Anyone help me

[2019-02-07 14:24] slawekradzyminski commented on #510
@koryl We need you here :)

[2019-02-07 15:38] Sonali77 opened #701 "Fluentlenium 4.0.0 jumping to JDK 11"
We at present use JDK 1.8. Fluentlenium 4.0.0 wants one to use JDK 11 whereas Selenium or cucumber doesn't do such major jumps. That means inorder to use Fluentlenium 4.0.0 one needs to upgrade to JDK 11. Fluentlenium also controls which version of Selenium and Cucumber one can use. Jumping from JDK 1.8 to 11 is a long jump for us. This means if we want to stay in JDK 1.8, the max Fluentlenium ver

[2019-02-07 16:14] koryl commented on #510
@wriki, which version of FluentLenium are you using? Did you extended your step classes/base test class with FluentCucucmberTest?
It would be the best if you provide some code and we try reproduce the problem.

[2019-02-07 16:26] wriki commented on #510
`<project xmlns="http://maven.apache.org/POM/4.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>

	<groupId>fluent</groupId>
	<artifactId>testproject</artifactId>
	<version>0.0.1-SNAPSHOT</version>
	<packaging>jar</packaging>

	<name>testproject</name>

[2019-02-07 19:16] koryl commented on #510
This issue is not related to Cucumber so this is different issue from the one which was mentioned at start of this thread.
It seems you use FluentLenium 3.7.1. Could you try to upgrade to newest version (4.1.1) and check if issue you mentioned is still exist?

[2019-02-07 19:23] koryl commented on #510
Another think is that you don't need to provide dependencies to JUnit Jupiter because it is already provided in FluentLenium JUnit Jupiter module. Moreover please remove this dependency if you don't use it:
[code]
because it is for integration with JUnit 4, not with JUnit 5 Jupiter.
Let us know if this help ;)

[2019-02-07 19:26] filipcynarski commented on #701
Hello Sonali77, Java 11 brings great features mostly performance related. So not moving to Java 11 if you are on 1.8 it is a big mistake, but I'm leaving it to your decision.

We are planning to support 3 version for a while so not worry all bug fixes are going to be merged to 3.7 as well. However, JDK 11 is a great improvement and in JDK 11 you can use JDK 1.8 libraries so it doesn't stop you to

[2019-02-07 19:26] #701 closed

[2019-02-08 05:53] wriki commented on #510
Thanks for speedy reply.
Now I am getting "No test found with test runner "junit5"
`package testproject;

import static org.junit.jupiter.api.Assertions.*;

import org.fluentlenium.adapter.junit.jupiter.FluentTest;
import org.junit.jupiter.api.Test;

class Testfluen extends FluentTest{

	@Test
	void test() {
		fail("Not yet implemented");
	}

}`
`<project xmlns="http://maven.apache.org/POM/4.0.0"

[2019-02-08 08:14] koryl opened #702 "FluentLenium 3.8 Release with Java 8"
Update FluentLenium 3.X branch to newest libraries.
Note: FluentLenium 3.X is compatible with JDK 1.8+ and FluentLenium 4.X is compatible with JDK 11+.

[2019-02-08 09:20] koryl commented on #510
Try something like this (I used WebDriverManger also):

[code]

pom.xml

[code]

If you want use the newest version of FluentLenium you need set java.version property to 11:
`<java.version>11</java.version>`

[2019-02-08 09:21] #510 closed

[2019-02-08 12:50] slawekradzyminski opened #704 "Add isPresent() and isNotPresent() assertions into Fluent AssertJ module"
They're missing

[2019-02-08 14:05] koryl commented on #686
The update needs some reworked but it is done - updated to 4.2.2.

[2019-02-08 14:05] #686 closed

[2019-02-08 19:53] slawekradzyminski commented on #704
done

[2019-02-08 19:53] #704 closed

[2019-02-08 19:57] slawekradzyminski commented on #699
This happens only on Unix machines. What's even more interesting it doesn't happen in Chrome headless mode.

[2019-02-08 21:24] slawekradzyminski commented on #595
I was debugging it for quite a while today and I suspect the code below does not work because we throw NoSuchElementException.

[code]
 Please take a look how FluentLenium currently works here:

https://github.com/FluentLenium/FluentLenium/blob/develop/fluentlenium-assertj/src/test/java/org/fluentlenium/assertj/integration/element/FluentWebElementDisplayedTest.java

I assume that if we handle NoSu

[2019-02-09 09:29] slawekradzyminski opened #707 "Upgrade Junit5 to 5.4.0"
https://junit.org/junit5/docs/5.4.0/release-notes/index.html

[2019-02-09 16:17] slawekradzyminski commented on #595
Done

[2019-02-09 16:17] #595 closed

[2019-02-09 17:05] slawekradzyminski commented on #707
done

[2019-02-09 17:05] #707 closed

[2019-02-11 00:54] slawekradzyminski commented on #694
done

[2019-02-11 00:54] #694 closed

[2019-02-11 17:39] slawekradzyminski commented on #699
Happening still on Chrome/chromedriver 73

[2019-02-11 17:42] slawekradzyminski commented on #456
Let's add waitAndClick()

[2019-02-11 18:47] picimako opened #711 "FluentLenium specific IntelliJ inspections"
Hi guys,

I created and collected a couple of IntelliJ inspections (Structural Search and Replace templates) for FluentLenium and I would like to get your opinion about them whether at least the concept of them is correct or they may need refinements.

You can find the document here: https://github.com/picimako/intellij-inspections/blob/master/inspections/fluentlenium.md

Though I already uploaded

[2019-02-11 19:53] slawekradzyminski commented on #650
It is tested in DriverPerThreadTest class. I was wrong.

[2019-02-11 19:53] #650 closed

[2019-02-12 18:46] slawekradzyminski commented on #456
done

[2019-02-12 18:46] #456 closed

[2019-02-12 19:39] slawekradzyminski commented on #674
Added OWASP dependency check. Let's see how it would work.

Find-sec-bugs doesn't seem to work well with Java 11.

[2019-02-12 19:39] #674 closed

[2019-02-12 21:47] slawekradzyminski opened #714 "Add dependabot to auto-bump dependencies"
https://dependabot.com

Examples: https://github.com/jeremylong/DependencyCheck/commits?author=dependabot-bot

[2019-02-12 21:48] slawekradzyminski opened #715 "Wrap browser performance API with easy to use FL methods"
https://www.awesome-testing.com/2019/01/measuring-page-load-times-using-selenium.html

[2019-02-12 21:49] slawekradzyminski opened #716 "Add performance report feature"
Dependends on #715

FluentLenium can create performance report on demand (via configuration) in tests.

[2019-02-13 18:31] slawekradzyminski commented on #714
done

[2019-02-13 18:31] #714 closed

[2019-02-15 07:51] slawekradzyminski commented on #301
Let's add logging facade into FluentLenium and check what we can do next.

For logging facade industry standard seems to be slf4j-api which can be safely added:

`As of SLF4J version 1.6.0, if no binding is found on the class path, then slf4j-api will default to a no-operation implementation discarding all log requests. Thus, instead of throwing a NoClassDefFoundError because the org.slf4j.impl.St

[2019-02-15 10:52] clavecin92 opened #734 "Add setFileDetector() support in FluentLenium"
when we upload a file on the browser using a remote web driver, the local file is not available on the remote because no way to call setFileDetector() (not available when we call getDriver()).
I'm using the Java Properties file "fluentlenium.properties" to configure the web driver so, the web driver instantiation is delegated to Fluentlenium.

[2019-02-16 08:54] slawekradzyminski commented on #734
Hi @clavecin92, thanks for the report.

Which FluentLenium version do you use?

[2019-02-16 09:18] slawekradzyminski commented on #689
Thanks @kputh for the report. It will be updated in next release (we build docs from master branch).

It was fixed by @picimako, thanks :)

[2019-02-16 09:18] #689 closed

[2019-02-16 10:11] clavecin92 commented on #734
Hi,

The version is 3.5.2

Thank you in advance for your help

[2019-02-16 11:05] slawekradzyminski commented on #734
Thanks @clavecin92

Looks like we never actually exposed this method in FluentLenium. So in this task we should add it.

[2019-02-16 11:15] slawekradzyminski commented on #734
Meanwhile @clavecin92 you can take a look how we navigate to urls in our project. See _getAbsoluteUrlFromFile(String)_ method

https://github.com/FluentLenium/FluentLenium/blob/develop/fluentlenium-core/src/main/java/org/fluentlenium/utils/UrlUtils.java

Honestly speaking using _setFileDetector()_ is probably code smell because your tests would work only on one operating system. Our solution for h

[2019-02-16 13:30] clavecin92 commented on #734
Thank you for your feedback,
But getAbsoluteUrlFromFile() just get the local file url and doesn't send file to remote hub selenium:
In my case, from a Jenkins job workspace, I need to upload a file to browser that is installed on a node of a remote selenium grid server

[2019-02-16 13:50] slawekradzyminski commented on #734
All right, got it :)

[2019-02-16 18:06] slawekradzyminski commented on #602
One of the issues here is _count()_ method implementation:

[code]

Basically once we load the list we just return initial size later.

[2019-02-17 11:41] slawekradzyminski commented on #602
Done

[2019-02-17 11:41] #602 closed

[2019-02-18 15:01] slawekradzyminski commented on #345
Let's add simple page assertions here:

hasElement(FluentWebElement);
hasTitle(String);
hasUrl();

[2019-02-19 09:43] clavecin92 commented on #734
Hi slawekradzyminski,

I would like to know if this feature will be implemented soon or I have to refactor my project to manage the Web Driver differently.

Thank you

[2019-02-19 15:24] Manakel166 opened #737 "No information to choose between Annotations and Event APi"
Hello,
I could not find a forum or mailing list so i'm asking here.
There is 2 options to register events provided in Fluent: Event Annotation and Event API.
What are the differences / benefit of one versus the other?

Aim is to provide some pré /post logging for Click, Navigate, setValue etc... that would work for all
Pages implemented without having to modify each existing Page
With Regards
Wood

[2019-02-19 15:58] slawekradzyminski commented on #737
Hi @Manakel166 - pré /post logging can be added by custom hooks. See our example:
https://github.com/FluentLenium/FluentLenium/tree/develop/examples/hooks/src/test/java/org/fluentlenium/examples/hooks

I'll answer initial question (Event Annotation vs Event API) in free time

[2019-02-19 15:59] slawekradzyminski commented on #734
@clavecin92 that's not high on our priority list.

[2019-02-19 18:48] richman555 opened #738 "Configuration for Cucumber with Multiple Step Definitions"
Hello Fluentlenium Community,

Currently, we are extending FluentCucumberTest (classic inheritence) and we have created before and after tagged hooks in a single step definition.  We also extend FluentCucumberTest in other step definition files which are sharing common steps. We are currently using Fluentlenium 3.2.0 and Cucumber 1.2.4 .  We also have future plans to upgrade however it hasn't happ

[2019-02-19 19:32] richman555 opened #739 "@Page annotation in cucumber step definition is not getting instantiated with Junit5"
Hi Fluentlenium Community,

We are working on a test application upgrade to using _Fluentlenium-3.7.1_ and we use JDK 1.8.   We also use _Cucumber-3.0.2_ and _Selenium-3.14.0_ and intend to use _JUnit 5.1.0_ .

What we have noticed is that when using JUnit 5.1.0 the @Page annotation is no longer instanced (null) in any Cucumber Step Definition file.   When we downgrade to Junit 4.12 the @Page anno

[2019-02-19 20:38] koryl commented on #739
Hi! Thank you for reporting your issue. Few ideas from my side:
- Cucumber does not fully support JUnit 5 and it can be one of possible reasons ( details here: https://github.com/cucumber/cucumber-jvm/issues/1149);
- there was already reported similar issue related to TestNG and the newest version should not have problems with creating @page instances. If you cannot update your jdk to jdk 11, we a

[2019-02-20 09:44] slawekradzyminski opened #740 "Bad Element assertion implementation with .not"
Bug only on develop (caused by me :) )

I have added isPresent to a couple of assertions which verify that element isNotDisplayed(), isNotClickable() etc. Let's remove and make it behave more naturally.

[code]

[2019-02-20 13:38] slawekradzyminski opened #741 "Add more complex example with Page and Component"
This is a good first task for someone who wants to contribute to FluentLenium.

Let's add more complicated example which will use Components. Can be any browser.

Add here:
https://github.com/FluentLenium/FluentLenium/tree/develop/examples

[2019-02-20 20:48] richman555 commented on #739
Thank you for this clarification as this make sense.  We likely will be staying on 1.8 JDK for some time going forward as our test framework also includes MQ Series tests and Spring 4 for SOAP/REST Services and dependency injection and batch testing.  We may get around to it once we can confirm our dependencies can support it.

[2019-02-20 20:49] #739 closed

[2019-02-20 20:54] richman555 commented on #738
After further thought about this issue, it might be more of an issue with Cucumber however we would need to test its behavior.  It might be possible that once you add a scenario hook or a tagged hook, Cucumber instances all Step Definition classes which contain them.  I believe we may do some further investigation unless someone knows more definitively.   Thanks for any help or advice!

[2019-02-21 20:32] slawekradzyminski commented on #740
After consideration I decided not to change it.

If someone wants to verify that element is missing on a page he/she should use:
[code]

isNotDisplayed(), isNotEnabled(), isNotClickable(), isNotSelected() would verify first that element is present and only after that would verify exact condition.

[2019-02-21 20:32] #740 closed

[2019-02-23 11:06] slawekradzyminski commented on #345
[code]

[2019-02-23 12:11] slawekradzyminski commented on #345
done

[2019-02-23 12:11] #345 closed

[2019-02-24 15:01] slawekradzyminski commented on #336
done

[2019-02-24 15:02] slawekradzyminski commented on #301
Loggers are added, let's now add actual logs ;)

[2019-02-25 08:46] koryl commented on #738
Hi @richman555!
I perfectly understand the issue you have found because I have exactly the same problem as you in the past. For me it was highly unintuitive and inefficient - this was the reason I have started to make changes in fluentlenium-cucumber by myslef ;)
Sadly, for FluentLenium 3.2.0 it is not really possible to fix this issue and in older documentation it was addressed directly that you

[2019-02-25 09:57] koryl opened #745 "Add new tests for fluentlenium-cucumber for integration with TestNG/JUnit Jupiter"

[2019-02-25 15:20] slawekradzyminski commented on #336
Let’s read Selenium version front dependencies

[2019-02-25 20:15] richman555 commented on #738
Thanks @koryl ,
I think we may try to upgrade to 3.8.0 (for Java 1.8).   Do you have any details as to what is being changed for cucumber tests in this revision?  Will it still require the before and after hooks for all step definitions?

Thanks for your help!

[2019-02-25 20:27] richman555 opened #746 "@findby is coming as null using cucumber 3.0.2 and version 3.7.1"
Hello Fluentlenium Community,

We are currently working on a upgrade to use Fluentlenium version 3.7.1 and cucumber 3.0.2 (using java 1.8).   We are seeing null values coming for @findby annotations which were working in previous versions.

I believe that we may have found the solution to this in issue #631 and it appears the suggested code does work.   We were wondering what version of Fluentleni

[2019-02-26 21:16] picimako opened #749 "Hamcrest matchers for FluentWebElement and FluentList"
Since FluentLenium has already have support for Hamcrest matchers, it could be beneficial for end users to have specific matchers for `FluentWebElement` and `FluentList`, similarly to what `FluentLeniumAssertion` provides for AssertJ users.

[2019-02-27 04:49] slawekradzyminski commented on #597
getSelector() should return By

[2019-02-27 08:05] slawekradzyminski commented on #749
Thanks for feature request @picimako.

Just to be clear, is this something you want to work on or is it free for doing by anyone?

[2019-02-27 09:44] picimako commented on #749
@slawekradzyminski It is free for doing by anyone.

[2019-02-27 16:52] picimako opened #750 "More specific documentation for @PageUrl, screenshotPath and htmlDumpPath"
Hi,
I've come across some difficulties with the annotation and config properties mentioned in the title.

1. The javadoc for `@PageUrl` seems to be a bit outdated and could be more specific:
 - The `value` attribute is mandatory, so the example for local files would need some update.
 - I haven't managed to make local file targeting work. It could be updated with some concrete examples, like what

[2019-03-03 09:59] slawekradzyminski opened #755 "Add Gradle example"
It would be nice to have a working example with Gradle (instead of Maven) and any driver.

This is a nice first issue to resolve for project newcomers. PR welcome :)

[2019-03-03 10:01] slawekradzyminski commented on #336
In the future, we would probably like to support Gradle as well. Let's wait for #755 and see how important it is.

[2019-03-03 10:12] slawekradzyminski commented on #336
Maven part done

[2019-03-03 10:12] #336 closed

[2019-03-03 19:40] picimako commented on #522
@slawekradzyminski
How detailed description is needed? Would a one or two sentence summary be enough or longer ones are expected?
Also which document should this be added to?

[2019-03-04 09:26] koryl commented on #738
Hi, you can see documentation prepared for upcoming releases on our develop branch: https://github.com/FluentLenium/FluentLenium/blob/develop/docs/docs/test-runners.md#cucumber

It will not require before and after hooks for all classes.

[2019-03-04 09:29] koryl commented on #746
Hi, thank you for reporting.

I've checked on the current develop and it should be fixed with the new release.

We will try to make new release in this week, stay in tune.

[2019-03-04 10:43] slawekradzyminski opened #757 "Add Opera to DefaultWebDriverFactories"
It's missing for some reason.

[2019-03-04 10:48] slawekradzyminski commented on #522
Hi @picimako

It's up to you really, I don't want to micromanage open source project that belongs to community :)

I feel like to best idea is short description in main README.md and link to more detailed section in docs (which doesn't exist currently).

[2019-03-04 11:18] slawekradzyminski commented on #750
Point 1 has been done by @picimako

Point 2 requires investigation.

[2019-03-04 11:47] tamasbalog commented on #522
@slawekradzyminski

The reason I asked it because I am still not that experienced with FluentLenium and how things are handled, and I don't want to go against any processes that are already established and working. :)

However your suggestion seems fine. First I will go with a short summary about the modules in the main README, than later on the module specific documentation can be created.

[2019-03-04 11:49] tamasbalog commented on #750
@slawekradzyminski
Regarding point 1 I am still not sure what `resourcesDirectory` exactly is, etc. I would appreciate some help with that, than I would update the docs accordingly.

[2019-03-04 13:57] slawekradzyminski commented on #757
done

[2019-03-04 13:57] #757 closed

[2019-03-05 09:08] slawekradzyminski opened #763 "Add javadocs to fluentlenium.com"
It would be nice to have something like https://selenide.org/javadoc.html

[2019-03-05 16:08] slawekradzyminski opened #764 "Add getTestClass() and getTestMethod() methods to FluentTestRunnerAdapter"
They're hidden behind private SharedMutator sharedMutator field. Let's expose them and simplify users life :)

[2019-03-06 06:48] picimako opened #767 "Simplify APIs"
Hi,

I have some suggestions to simplify a few interfaces:

1. NavigationControl
The `switchTo()` method seems to be doing the same as `switchToDefault()`, so my suggestion is to mark `switchTo()` as deprecated and use `switchToDefault()` instead.

2. Fill
`withText(String...)` does the same as `with(String...)`, so I think one of them could be deprecated.

3. PageUrl
Since the `file` and `isLocal

[2019-03-08 21:23] picimako opened #770 "Refactor God classes"
There are a handful of classes that are marked as **PMD.GodClass** that would benefit from some refactoring.

[2019-03-09 10:24] slawekradzyminski commented on #522
Short summary is done by @picimako

Would be nice to have also detailed description on fluentlenium.com

[2019-03-09 10:30] slawekradzyminski commented on #767
Hi @picimako thanks for the suggestion.

Regarding 1 & 2 you are probably right that's unnecessary, but I don't see much value in changing it at this point. Please have in mind that our users just want to bump their version number and have all tests working without any deprecation warnings. Let's leave it for now.

3 is a good point- if you like to work on that you can do it.

4 is also a good poi

[2019-03-09 10:41] slawekradzyminski commented on #750
We have example in integration tests:

[code]

[code]

javascript.html is in test resources folder

[2019-03-09 10:51] slawekradzyminski commented on #129
Hi Google users. There seems to be unusually high traffic to this closed issue.

We still use workaround provide above so it turned out to be a great solution.

[code]

[code]

[2019-03-09 15:57] picimako commented on #767
@slawekradzyminski

Yep, good point. I'll keep that in mind. And I will work on number 3.
Thanks.

[2019-03-11 06:41] picimako commented on #770
I started to work on refactoring `FluentInjector`.

[2019-03-11 06:51] slawekradzyminski commented on #770
Brave :D

[2019-03-12 11:15] clavecin92 commented on #734
Hi slawekradzyminski,

sorry, I just back from vacation.

I took a look to the code, may be nothing to implement but I don't understand why when I use a RemoteWebDriver:
-  (getDriver() instanceof RemoteWebDriver) **return false**
-  getWebDriver().equals("remote") **return true**

**this is how I manage the WebDriver:**
- I use fluentlenium.properties to declare :
     + webDriver=${defaultWebDri

[2019-03-13 10:36] christian-draeger commented on #702
Just a question, is version 4x actively using java 11 features?
Otherwise it should be preferred to keep it compatible with the lowest java version as possible (e.g. jdk8).
The majority  of my current projects are written in kotlin (which has support down to jdk 8 in it's latest version). using fluentlenium 4x forced me to upgrade to jdk11, not a big issue at this time but it can be a real deal in

[2019-03-13 20:52] picimako commented on #750
I refined the javadoc for number 1 on https://github.com/picimako/FluentLenium/commit/6ffc98d45f5c83f8bf43b7d1b1309287d0b53d78

[2019-03-14 14:18] Sonali77 opened #774 "Ways to set options for drivers in Fluentlenium"
Hi,

  This is not a bug but since i don't have any other place to ask this question, so i am asking you. In selenium, one can set up options for any driver like-
 ChromeOptions chromeOptions=new ChromeOptions();
             chromeOptions.setExperimentalOption("useAutomationExtension",false);
             chromeOptions.addArguments("start-maximized");
             WebDriver capabilitiesChromeWebD

[2019-03-15 18:33] picimako commented on #774
Hi @Sonali77
As I understand your question you may be looking for this one: https://fluentlenium.com/docs/configuration/#custom-webdriver

You can create a custom implementation of `WebDriverFactory` annotated with `@FactoryName`, and the value that you give in that annotation can be referenced in the webDriver configuration property, e.g. via the `@FluentConfiguration` annotation.

[code]

[code]

[2019-03-16 16:53] slawekradzyminski commented on #774
Hi @Sonali77

You can take a look into our examples.

1. FluentConfiguration https://github.com/FluentLenium/FluentLenium/blob/develop/examples/quickstart-chrome/src/test/java/org/fluentlenium/examples/test/DuckDuckGoHeadlessTest.java

[code]

2. Overriding newWebDriver method
https://github.com/FluentLenium/FluentLenium/blob/develop/examples/quickstart-firefox/src/test/java/org/fluentlenium/examp

[2019-03-16 20:25] slawekradzyminski opened #775 "Fix Javadoc"
I wasn't able to perform release because javadoc failed

[2019-03-16 21:41] slawekradzyminski commented on #775
done

[2019-03-16 21:41] #775 closed

[2019-03-16 23:48] slawekradzyminski opened #777 "Automate / describe release process"
My notes from today:

1. Make sure your gpg password is correct because when not it won't be detected until release:perform
https://stackoverflow.com/questions/11381123/how-to-use-gpg-command-line-to-check-passphrase-is-correct

`gpg --list-secret-keys`
`echo “dummy_text” | gpg -o /dev/null --local-user ${LONG_HASH_FROM_STEP_ABOVE} -as - && echo "The correct passphrase was entered for this key"`

[2019-03-17 00:07] slawekradzyminski commented on #746
Hi @richman555

New features has been backported to Java 8.

https://github.com/FluentLenium/FluentLenium/releases

[2019-03-17 00:07] slawekradzyminski commented on #702
New features has been backported to Java 8.

https://github.com/FluentLenium/FluentLenium/releases

[2019-03-17 00:08] #702 closed

[2019-03-17 00:08] slawekradzyminski commented on #701
Hi @Sonali77

New features has been backported to Java 8.

https://github.com/FluentLenium/FluentLenium/releases

[2019-03-17 01:55] picimako commented on #767
Closing this ticket as it's scope was only number 3 which is merged.

[2019-03-17 01:55] #767 closed

[2019-03-18 14:18] richman555 commented on #746
@slawekradzyminski Thank you!  We will do some testing with this version 3.8.1 and if all is good we will close out this ticket.  Thanks for your help!

[2019-03-18 14:21] slawekradzyminski commented on #764
done

[2019-03-18 14:21] #764 closed

[2019-03-18 14:21] slawekradzyminski commented on #746
No problem :)

[2019-03-18 14:21] #746 closed

[2019-03-18 14:24] slawekradzyminski commented on #764
Examples:

[code]

[code]

[2019-03-18 14:29] richman555 commented on #738
Hi @koryl I see that 3.8.1 has been released.  We will test this issue as part of upgrading to this release.   Thanks for your help!

[2019-03-18 15:21] slawekradzyminski opened #783 "Add Allure integration"
https://github.com/allure-framework/allure-java

[2019-03-18 17:22] koryl commented on #738
No problem :) Let us know if you find any problem.

[2019-03-18 17:22] #738 closed

[2019-03-20 10:21] slawekradzyminski opened #785 "Wrong incompatible Selenium version warn."
So our new features reported me this:

```10:17:16,896 WARN  [SeleniumVersionChecker] - You are using incompatible Selenium version. Please change it to 3.141.59. You can find example on project main page https://github.com/FluentLenium/FluentLenium```

(Un)fortunately we are using correct version so that's a bug.

[2019-03-20 15:00] Sonali77 commented on #774
Thanks. Even i am using the  @Override
    public WebDriver newWebDriver() {}
way of doing it. Thanks for the feedback :)

[2019-03-20 15:04] slawekradzyminski commented on #774
Great :)

[2019-03-20 15:04] #774 closed

[2019-03-20 15:19] Sonali77 opened #786 "Expected only one instance, but found too many: [cucumber.runtime.java.spring.SpringFactory@29372, cucumber.runtime.java.fluentlenium.FluentObjectFactory@3b3b2f] More than one Cucumber ObjectFactory was found in the classpath You probably may have included, for instance, cucumber-spring AND cucumber-guice as part of your dependencies. When this happens, Cucumber falls back to instantiating the DefaultJavaObjectFactory implementation which doesn't provide IoC. In order to enjoy IoC features, please remove the unnecessary dependencies from your classpath."
Hi,

   Initially we used fluentlenium 3.7.1,cucumber 3.0.2 , Spring 4 (Jdk 1.8) and our cucumber tests(using spring 4) seemed to work fine. Now we upgraded to fluentlenium 3.8.1,cucumber 4.2.6(Keeping back Spring 4 and JDk 1.8) and or cucumber tests (using spring 4) is having the below error-

Expected only one instance, but found too many: [cucumber.runtime.java.spring.SpringFactory@29372, cucum

[2019-03-20 21:41] filipcynarski opened #787 "Stream based lists are not working with await"
As a user I'd like to pass supplier which is a stream reference to the list. Now, it is not working as expected in await conditions.

Example:

[code]

Will Pass

but if I change

`await().until(rowsListPage.getComponentsList()).size(4);`

to

`await().until(rowsListPage.getComponentsList()).size(2);`

It won't

Please add this piece of code to `WaitComponentsListTest` test

So you have

[code]

I

[2019-03-21 07:38] filipcynarski opened #789 "Move to element with specific position doesn't work as expected"
The selenium code works well

`new Actions(getDriver()).moveToElement(rating.getElement(), xPositionOfChosenNumberOfStars, 0).click().build().perform();`

even though FluentLenium code clicks in a middle of element

`rating.mouse().moveToElement(xPositionOfChosenNumberOfStars, 0).click();`

[2019-03-21 08:38] slawekradzyminski commented on #789
This is our click

[code]

We only wrap the first Selenium method of these two. Would be nice to have a logic that decides smartly which one is better.

[code]

[2019-03-21 12:58] tamasbalog opened #790 "NPE during JUnit/Cucumber test execution"
### Project setup

#### FL modules used:
- fluentlenium-core
- fluentlenium-cucumber
- fluentlenium-assertj
- fluentlenium-junit

Base class for step definitions:
[code]

All the step def classes extend `BaseTest`:
[code]

And the JUnit test class looks like this:
[code]

### Issue
When a method like `goTo(P)` is called, down in `FluentControlImpl#goTo(P)` the `getFluentControl()` call returns nul

[2019-03-25 21:31] koryl commented on #790
@tamasbalog, thank you for report.
I am not aware from the information you provide why you met NPE in your config. Did you add Before and After hooks in the way mentioned in documantation (https://fluentlenium.com/docs/test-runners/#cucumber)?
I created example project here and it seems everything works as expected: https://github.com/koryl/fluentlenium-cucumber-config-example
Please, let me know

[2019-03-25 21:54] koryl commented on #786
@Sonali77, thank you for report. Actually, the case is different, because the fluentlenium-cucumber does not use Spring or Guice dependencies at all. I have implemented special ObjectFactory for FL and this is the reason why Cucumber says there are few Object Factories. The FluentObjectFactory was created to handle creating instances and injecting FluentLenium context into step definitions classes

[2019-03-26 07:03] picimako commented on #790
@koryl I didn't use any hooks, I was not aware of that setting them up may be a crucial part of execution. I will try that later today.

As for your example project, thank you, but I'm a little bit confused. You created the class `HooksSteps` extending `BaseTest` but it doesn't seem to be used anywhere. Am I missing something?

(Don't be confused, I accidentally used my other account to report thi

[2019-03-26 09:42] picimako commented on #790
@koryl I managed to make it work.

There were two issues. One is that the hook setup were missing, the other one is that a specific package was set on the glue path as step definitions package, and after adding the hooks in a different package, Cucumber didn't read the hooks.

Thanks for your help. The example project you put together were useful.

[2019-03-26 14:43] clavecin92 commented on #734
I found a solution so, nothing to implement in Fluentlenium:

public void uploadFile(WebDriver driver, String file) {
        ResourceLoader resourceLoader = new ResourceLoader(file);
        LocalFileDetector detector = new LocalFileDetector();
        if ("remote".equals(getWebDriver())) {
            ((RemoteWebDriver) ((WrapsDriver) driver).getWrappedDriver()).setFileDetector(detector);

[2019-03-26 17:33] #790 closed

[2019-03-26 18:37] Sonali77 commented on #786
Basically i am getting this for my Spring related tests. I have defined one step def as below-
@RunWith(SpringJUnit4ClassRunner.class)
@ContextConfiguration(locations = "classpath:spring/api/application-context.xml")
public class SpringSystemTestSteps {
    @Before
    public void SetupCucumberSpringContext() {
        //dummy method so cucumber will recognize this class as glue
        //and use

[2019-03-27 15:23] Sonali77 commented on #786
[code]
We have added before and after hooks in all of our step definitions which run UI tests(which uses Fluentlenium).

Additionally, we also have spring related tests, where we initialize spring context with only one step definition class-
[code]

We use Spring's context for both API testing (doesn't extend FluentCucumberTest) and UI testing (does extend FluentCucumberTest).

[2019-03-27 18:19] koryl commented on #786
Thank you for this input - I will try to find workaround for this matter and back to you with the anwser.

[2019-03-29 04:23] slawekradzyminski commented on #741
Done

[2019-03-29 04:23] #741 closed

[2019-03-29 07:24] slawekradzyminski commented on #699
Changed explicit wait to

[code]

Tested in Chrome/chromedriver 74

[2019-03-29 07:44] slawekradzyminski commented on #699
E2E test added as well

[2019-03-29 07:44] #699 closed

[2019-03-29 17:02] slawekradzyminski commented on #734
Great, Thanks for providing solution as well :)

[2019-03-29 17:02] #734 closed

[2019-03-30 14:42] koryl commented on #786
@Sonali77,
try to use fluentlenium-core dependency instead of fluentlenium-cucumber.
Please chceck example here:
https://github.com/koryl/fluentlenium-cucumber-config-example/tree/spring
To work correctly, add two new classes:
- https://github.com/koryl/fluentlenium-cucumber-config-example/blob/spring/src/test/java/com/fluentlenium/cucumber/test/config/FluentCucumberTest.java
- https://github.com/

[2019-03-30 15:23] fedotxxl commented on #701
strange idea to develop a library for Java 11 - I'm sure a lot of people still use Java 8.  It was a surprise for me...

[2019-03-30 21:45] buko opened #800 "Support for other DI Frameworks"
We're using a different DI framework (HK2) and we'd like to be able to inject our own services into Page objects using HK2.

Would it be possible to modify the FluentInjector so that our own code could process a page compnent before injection, after injection and when it is destroyed?

[2019-04-01 05:15] slawekradzyminski commented on #800
Hi @buko, thanks for the submission.

FluentInjector is definitely a good candidate for refactoring. We were thinking about easier access (fewer constructor arguments) or even full logic extraction to separate module.

Pull requests are very welcome in this area so if you want to extend FluentLenium please do so. We can offer help and maybe even maintenance.

However, if you want for us to refacto

[2019-04-01 09:48] slawekradzyminski commented on #777
Before release:
1. Request Sonatype access
a) Create account https://oss.sonatype.org/
b) Request access to org.fluentlenium
https://issues.sonatype.org/browse/OSSRH-18426
https://issues.sonatype.org/browse/OSSRH-37752

2. Generate gpg key and upload to public gpg servers
a) Generate new gpg key (RSA 2048)
https://help.github.com/en/articles/generating-a-new-gpg-key
`gpg --full-generate-key`
b) Ve

[2019-04-01 22:05] fedotxxl opened #803 "How to extract param from URL?"
Let's suppose I've got page:

[code]

and test open Project by clicking on URL `/project/123`. Can I use `projectReadPage` to extract project id from current URL?

[2019-04-04 19:18] Sonali77 commented on #786
I will test your suggestion and let you know the update. Just to let you know, we use Spring, Cucumber, Fluentlenium in our project. Also we would like to use Single step definition class with a before and after hook in our project, instead of adding to each step definition class. Please find the issue link below that was raised for the same and looks like it was fixed in 3.8.1-
https://github.com

[2019-04-09 11:57] slawekradzyminski commented on #803
Hi @fedotxxl

Examples:

[code]

[code]

Please let us know if it helps.

[2019-04-09 11:57] #800 closed

[2019-04-09 12:03] #522 closed

[2019-04-11 13:06] motalib opened #811 "find gets timeout exception while no element found on version 3.7.0"
find("tbody tr").stream()
        .map(g -> g.as(SampleClass.class))
        .findFirst()
        .orElse(null);

if no selector is found with this selector, then test case fail with timeout exception.
In that case I had to count first like below
if (find("tbody tr").count() == 0) return null;

[2019-04-11 13:35] slawekradzyminski commented on #777
Done

[2019-04-11 13:35] #777 closed

[2019-04-11 13:37] slawekradzyminski commented on #811
Hi @motalib, thanks for submission :)

We are aware of this issue and track it on #787

[2019-04-12 06:07] slawekradzyminski commented on #803
@fedotxxl Ok - will be added to FL :)

[2019-04-12 08:42] slawekradzyminski commented on #711
@picimako Let's add it somewhere in the docs and let the users decide how useful it is.

[2019-04-12 08:43] slawekradzyminski commented on #662
Let's create contribution guide only

[2019-04-17 06:45] slawekradzyminski commented on #737
Hi @Manakel166 documentation has been updated:

https://github.com/FluentLenium/FluentLenium/pull/813/files

Please let us know if that was all you needed :)

[2019-04-17 06:45] #737 closed

[2019-04-17 06:46] slawekradzyminski commented on #711
done

[2019-04-17 06:46] #711 closed

[2019-04-23 09:30] slawekradzyminski opened #820 "clickable() should not return true if element not visible"
This piece of code gave me ElementNotVisibleException on _click()_.

[code]

_clickable()_ should not return true in such case.

[2019-04-24 07:57] slawekradzyminski commented on #820
done

[2019-04-25 07:28] koryl commented on #680
The issue is fixed, now logo goes to right before "collision". When menu elements overlaps the brand link, then only the logo stays.

[2019-04-25 07:28] #680 closed

[2019-04-26 12:50] Sonali77 commented on #786
I tested your suggestion. It works but its the same as fluentlenium 3.7.1 and is not solving the issue if multiple step definition and also need to have my own FluentCucumberTest. So it does not make sense to make an upgrade to fluentlenium 3.8.1.

[2019-04-29 12:13] slawekradzyminski opened #828 "Selenium 4 support"
`4.0.0-alpha-1` has been published. We may start to work on updating Selenium dependency

[2019-04-30 11:55] slawekradzyminski commented on #828
This commit is problematic as it breaks our CapabilitiesFactory ;)
https://github.com/SeleniumHQ/selenium/commit/c982edfbd3eed3ffb9666c4f3e9df7c004834c22#diff-63c65aee22b3993563276bfa4f82a733

[2019-04-30 14:16] slawekradzyminski commented on #828
Two issues:
1. HtmlUnitDriver() throws NoClassDefFoundError

`java.lang.NoClassDefFoundError: org/openqa/selenium/interactions/internal/Locatable

	at java.base/java.lang.ClassLoader.defineClass1(Native Method)
	at java.base/java.lang.ClassLoader.defineClass(ClassLoader.java:1016)
	at java.base/java.security.SecureClassLoader.defineClass(SecureClassLoader.java:174)
	at java.base/jdk.internal.loade

[2019-05-02 11:48] slawekradzyminski opened #830 "Allow to screenshot FluentWebElements (Selenium 4)"
In Selenium 4 element screenshotting has been added. We need to wrap it and pass FluentWebElement / FluentList instead of WebElement.

[2019-05-04 11:43] fedotxxl opened #832 "FluentList leads to StaleElementReferenceException"
Hello. I've got a table with rows.
[code]

My test does the following:

1. Check rows content
2. Add one more row
3. Check rows content

On step 3 I've got `org.openqa.selenium.StaleElementReferenceException` exception. I tried to use `reset()` with no luck. How can I reset fluent list state?

[2019-05-04 11:51] slawekradzyminski commented on #832
Hi fedotxxl. Do you use the latest version? If yes can you please share piece of code which triggers it?

[2019-05-04 13:50] fedotxxl commented on #832
I use version `3.8.1` because of Java 8.

Here is sample code:

[code]

When I call `assertCollaborators` the first time it works as expected. When I call it after table change (adding new collaborator) `table.collaborators` contains the previous list of collaborators and `org.openqa.selenium.StaleElementReferenceException` is thrown.

[2019-05-04 14:47] #770 closed

[2019-05-06 17:11] picimako commented on #750
I've investigated  a little and it seems that both `screenshotPath` and`htmlDumpPath` work properly both for `TriggerMode.AUTOMATIC_ON_FAIL` and via explicit call for screenshot and html dump creation from e.g. FluentWebElement.

I'm closing this ticket for now.

[2019-05-06 17:11] #750 closed

[2019-05-08 08:56] slawekradzyminski commented on #820
Reopening because I just got ElementClickInterceptedException, needs to be handled as well.

[2019-05-08 09:03] slawekradzyminski commented on #832
Thanks @fedotxxl for report. Improving `stream()` may not be easy, but I'll try in free time

[2019-05-09 19:29] picimako opened #836 "Release FluentLenium as a Multi-Release jar"
Though FluentLenium is built on/with JDK11, it also has a separate release for keeping JDK8 compatibility, from the same codebase, same branch. Thus right now it is not possible to leverage the benefits of JDK9+ features.

A solution might be releasing FL as a multi-release jar maintaining separate versions of the same files within the same repository.

Some resources:
- https://www.baeldung.com/j

[2019-05-12 18:16] picimako opened #837 "Additional assertions and documentation for the assertj module"
The following assertions could be added to the assertj module to make assertions easier and more flexible:

### For FluentWebElements and for FluentLists (would be applied to all elements of the list)
- `hasAttribute(String)`: to validate the presence of an attribute
- `hasAttribute(String).isEqualTo(String)`: it would also allow further String validation of the attribute value
- `hasNotAttribute(

[2019-05-23 20:12] swethamarinenisagecom opened #843 "Multiple browsers are opened when using JVM, CLASS or THREAD DriverLifecycle"
Hi Team,

When the DriverLifecycle is set to either JVM, CLASS or THREAD,  when a test suite is run, after one test finishes, the next test is not run in the same browser but a different browser is opened. This is confusing to have two browser instances at the same time.

When DriverLifecycle is set to METHOD, the browser is closed after every single test. Although this ensures having a clean sess

[2019-05-24 08:27] slawekradzyminski opened #844 "Add hoverOver() and hoverOverAndClick() methods"

[2019-05-24 09:01] filipcynarski commented on #843
Hello @swethamarinenisagecom,

Expected behaviour which you described may lead to tests destabilisation and cause issues because you have to take care of browser cleanup each time. For example, remaining cookies, browser data like cache if you want to not close the browser each time the test runs you should properly configure tests execution. You mentioned you are using TestNG which type of execut

[2019-05-24 13:20] swethamarinenisagecom commented on #843
Hi, thanks for your response!

Not sure why expected behavior would cause destabilization. For example, if the DriverLifecycle is set to CLASS, I would expect a browser to be opened at the beginning, run each test in the class and then close the browser at the end (lets assume no parallel execution specified).
So the web driver life cycle would be for each class right? Do you expect multiple brows

[2019-05-27 10:25] #820 closed

[2019-05-31 07:24] slawekradzyminski commented on #843
@swethamarinenisagecom please share TestNG config, we will take a look

[2019-05-31 08:38] slawekradzyminski commented on #515
Done

[2019-05-31 08:38] #515 closed

[2019-06-03 09:11] swethamarinenisagecom commented on #843
Hi, there is no specific configuration for TestNG. I've attached the project for your reference. I had to remove the lib jar and drivers exe files due to size limit. Please take a look and let me know if you need anything else.
[sp_auto_proj.zip](https://github.com/FluentLenium/FluentLenium/files/3246763/sp_auto_proj.zip)

Thank you!
Swetha.

[2019-06-03 17:53] slawekradzyminski commented on #843
Thanks @swethamarinenisagecom

One more question, how do you run tests in CI/command line? What's the exact command?

[2019-06-03 19:45] slawekradzyminski commented on #843
Hi @swethamarinenisagecom again, I was checking your issue :)

I'm afraid the issue may not be on our side. If you comment your `newWebDriver()`` and initFluent()` in `FluentRegTest` the browser isn't closed for lifecycle CLASS and JVM. You can also see copy paste this example and see how it should work in our opinion.

[code]

This feature is also covered in fluentlenium-testng integration test (

[2019-06-03 19:56] slawekradzyminski opened #851 "Add various lifecycle integration tests for JUnit 5"
We have driver lifecycle tests for junit 4 and testng. Junit5 finally supports test suites so we can add SharedWebDriver test suite for this framework as well.

TestNG (fluentlenium-testng) `org.fluentlenium.adapter.testng.integration.shareddriver`
Junit4 (fluentlenium-core) `org.fluentlenium.adapter.sharedwebdriver`

https://junit.org/junit5/docs/current/user-guide/#running-tests-junit-platform-r

[2019-06-04 10:54] swethamarinenisagecom commented on #843
Hi @slawekradzyminski
Thank you very much for looking into the issue and for your detailed response earlier!

As per your first suggestion I've commented overridden methods newWebDriver() and initFluent() in FluentRegTest. When I run the test suite, I see that browser is closed after every test and all tests are failing, I think it is because the wait times are default values and are not sufficien

[2019-06-05 09:31] slawekradzyminski commented on #851
done

[2019-06-05 09:31] #851 closed

[2019-06-05 18:03] slawekradzyminski commented on #843
Hi @swethamarinenisagecom again :)

I think you should override our Configuration methods in your FluentRegTest https://github.com/FluentLenium/FluentLenium/blob/develop/fluentlenium-core/src/main/java/org/fluentlenium/configuration/ConfigurationProperties.java (Please read Javadoc).

Example:

[code]

Regarding browser timeout we have it configured by default on 60 seconds. Maybe you should overr

[2019-06-05 20:28] slawekradzyminski commented on #763
Works already locally
`mvn javadoc:aggregate'
`cd target/site/apidocs'

[2019-06-06 18:34] slawekradzyminski commented on #763
Released
https://www.facebook.com/fluentlenium/posts/267577607401446
https://fluentlenium.com/javadoc

[2019-06-06 18:34] #763 closed

[2019-06-06 18:35] slawekradzyminski commented on #836
From official docs `The theory behind multi release jars is quite simple, but in practice it can become quite complex.`

Not the most motivating quote to put in your plugin description ;)

[2019-06-06 18:46] slawekradzyminski commented on #337
Not sure what should be done here. FL works well with Spring, we even have example.

[2019-06-06 18:46] #337 closed

[2019-06-08 18:55] picimako opened #857 "Assertions fail in an incorrect way due to AbstractAssert#failWithMessage"
I've just wrote a unit test in `FluentWebElementTest` for the negative case of `hasTextMatching`:

[code]
which instead of failing with the expected *"The element does not match the regex:...* message, it fails during String.format() in `org.assertj.core.api.AbstractAssert#failWithMessage()` with the following error:
[code]
This is a general issue with any assertion using `failWithMessage()`, and

[2019-06-09 01:17] lafkob commented on #828
Recently upgraded a project to java 11 and upgraded all our test dependencies. I am seeing this pop up in our Fluentlenium tests and wondering if someone can throw me a lifeline :smiley:

java.lang.NoClassDefFoundError: org/openqa/selenium/interactions/Coordinates
	at org.openqa.selenium.htmlunit.HtmlUnitDriver.toWebElement(HtmlUnitDriver.java:1207)
	at org.openqa.selenium.htmlunit.HtmlUnitDriver.

[2019-06-09 17:26] slawekradzyminski opened #858 "Add E2E browstack tests"
Add E2E browstack tests for Fluentlenium.com

[2019-06-09 20:08] slawekradzyminski commented on #858
https://github.com/travis-ci/travis-ci/issues/8998

[2019-06-09 20:33] slawekradzyminski commented on #858
https://travis-ci.community/t/work-out-kinks-in-interactions-between-stages-allow-fail-and-fast-finish/1090

[2019-06-10 09:08] slawekradzyminski commented on #858
done

[2019-06-10 09:08] #858 closed

[2019-06-11 12:51] slawekradzyminski commented on #646
Closing - priority too low

[2019-06-11 12:51] #646 closed

[2019-06-11 12:51] slawekradzyminski commented on #576
Closing - priority too low

[2019-06-11 12:51] #576 closed

[2019-06-11 12:51] slawekradzyminski commented on #570
Closing - partially done

[2019-06-11 12:51] #570 closed

[2019-06-11 12:52] slawekradzyminski commented on #755
Closing - priority too low

[2019-06-11 12:52] #755 closed

[2019-06-11 12:53] slawekradzyminski commented on #691
Closing - priority too low

[2019-06-11 12:53] #691 closed

[2019-06-11 20:07] slawekradzyminski commented on #695
iOS web works already.
Setup: https://medium.com/2359media/tutorial-automated-testing-on-ios-with-appium-test-ng-and-java-on-mac-bc115d0ec881

[2019-06-11 21:19] slawekradzyminski commented on #695
Android works as well:
https://www.swtestacademy.com/appium-tutorial/

Will update docs and maybe check an random app, but looks like FluentLenium just works well with Appium ;)

[2019-06-12 19:41] slawekradzyminski commented on #695
So this works with locally emulated Android (2+4=6 on native Calculator app)

[code]

[2019-06-13 10:39] picimako commented on #837
It is done. Closing the issue.

[2019-06-13 10:39] #837 closed

[2019-06-22 13:17] picimako commented on #836
At least they are honest. :)

[2019-06-22 16:53] picimako commented on #857
There are two probably related issues for AssertJ:
- https://github.com/joel-costigliola/assertj-core/issues/1441
- https://github.com/joel-costigliola/assertj-core/issues/1500

They are probably going to be released in assertj 3.13.0, so when it happens it should revisited with that version.

[2019-06-23 13:30] picimako opened #869 "UrlTemplate.parse(String) fails with "No match found""
The `UrlTemplate` class contains the following logic:

[code]

So regardless of which matcher (`matcherNoQueryInput` or `matcherFullInput`) matches, the method tries to parse the parameters from `matcherNoQueryInput` which fails to get the matcher group in the following cases:
- there are template parameters in the query parameters part of the URL, but none in the path part, e.g.: `?param1={param1

[2019-06-23 17:47] picimako commented on #869
Bug is fixed. Closing the issue.

[2019-06-23 17:47] #869 closed

[2019-06-23 17:48] picimako commented on #803
@fedotxxl The changes have been added to FluentPage. It will be available in the next release.

Closing the issue.

[2019-06-23 17:48] #803 closed

[2019-06-28 18:04] picimako commented on #716
Based (partially) on the discussion with @slawekradzyminski here is a summary of the performance reporting:
- create custom performance report (by default in HTML format). Consider other formats like JSON and XML
- update performance report when url changes in the browser
-- related documents:
--- https://stackoverflow.com/questions/3522090/event-when-window-location-href-changes/33668370
--- http

[2019-07-06 08:51] slawekradzyminski commented on #695
done

[2019-07-06 08:51] #695 closed

[2019-07-09 09:46] slawekradzyminski opened #888 "Try Gamma AI code quality"
https://www.mygamma.io/pricing

[2019-07-10 14:54] alexanderhawley opened #890 "Configuration using environment variables does not work & should not use invalid dot `.` notation"
In the docs, it describes using environment variables to configure FluentLenium. It does not work using a real terminal. Environment variables cannot have dots `.` in them. As an aside, it does happen to work using a pseudo-environment like Intellij. It is also of note that `EXPORT` does't work and needs to be lowercase `export`.

https://fluentlenium.com/docs/configuration/#configuration-ways

Ve

[2019-07-10 17:37] picimako opened #891 "Update Cucumber references to the new io.cucumber packaging"
In [Cucumber-jvm 4.5.0](https://github.com/cucumber/cucumber-jvm/blob/master/CHANGELOG.md) some classes were deprecated and/or moved from `cucumber.*` to `io.cucumber.*` which means that there are a couple of deprecated classes used in FluentLenium.

One example of this is `cucumber.api.Scenario` in `FluentCucumberTest` in the **before** and **after** methods.

But because no support for the new `

[2019-07-11 10:40] slawekradzyminski opened #893 "Chrome issue - if we switch to unloaded iframe Selenium fails to find any elements"
Related to #699. There is the same issue with Iframes

[2019-07-12 19:59] picimako commented on #891
Updating `FluentObjectFactory` is not really possible. Leaving it as it is for now because
- Cucumber allows only one ObjectFactory to be used
- if there are two `FluentObjectFactory` implementations it might run into problems or just select either one of them
- having only one `FluentObjectFactory` and extending it from `io.cucumber.core.backend.ObjectFactory` would make users of the old ObjectFa

[2019-07-15 09:21] #891 closed

[2019-07-17 07:51] slawekradzyminski commented on #890
Thanks @alexanderhawley

[2019-07-17 10:39] slawekradzyminski commented on #843
Hi @swethamarinenisagecom, can you please tell me which properties would you expect to be taken into account during initial driver startup?

What documentation changes do you suggest? I have trouble understanding what exactly should we improve.

[2019-07-21 07:00] #715 closed

[2019-07-22 18:54] picimako opened #904 "Fix Checkstyle and PMD execution"
There is a separate maven profile (`check`) dedicated for running also Checkstyle and PMD checks, however it doesn't work for the modules because maven cannot find the checkstyle and PMD config files.

The aim is to:
- fix the config locations so that they are configured appropriately for the modules
- fail Checkstyle only on errors, so that it only fails the build when there is an error level vio

[2019-07-25 18:35] picimako commented on #904
Opened https://github.com/codeclimate/codeclimate-checkstyle/issues/21 to address using parameterized checkstyle configs in Codeclimate.

[2019-07-25 19:11] picimako commented on #904
Added fix for missing plugin prexis problem based on https://github.com/onelogin/java-saml/issues/74 and https://github.com/onelogin/java-saml/commit/87bfad85ba012a0bc0a87815156aefa3cdd87ca4.
Later on https://github.com/javatlacati/regextester/commit/8a3bbb8ab7ba6a91f0d8918271b079ec0ab92029 might be useful as well. Just in case.

[2019-07-28 07:34] picimako opened #906 "Update set of ignored exceptions in FluentAdapter"
`FluentAdapter` stores a set of ignored JUnit and TestNG exceptions which need to be revisited and extended.

[2019-08-09 14:55] slawekradzyminski opened #922 "Add method clearing cookies for every domain"
As stated in title. Selenium doesn't have it.

[2019-08-12 14:22] Kingyo opened #925 "Code get stuck after calling mouse().moveToElement()"
Hello,

Since Google Chrome updated itself to 76.0.3809.100, I had to update my chromedriver to 76.0.3809.68 and I also updated selenium to 3.141.59.
I am running with the latest Fluentlenium version 4.3.0.

Before the update, I used mouse().moveToElement() without any problems.
Now, when I call it the code doesn't crash, it just gets stuck and doesn't respond.
I tried to replace the Fluent's move

[2019-08-12 19:18] picimako commented on #922
On my previous project we had this problem and we had a couple of brainstorming sessions about this, so the followings are my thoughts from that time.

As far as I know deleting cookies either from Selenium or via JavaScript is only possible on the current domain. That would make it necessary to delete cookies on every domain of the application that has been visited by the tests, and those domains

[2019-08-12 19:20] picimako commented on #857
AssertJ 3.13.2 has been released so this issue may be revisited.

[2019-08-12 19:22] picimako commented on #844
@slawekradzyminski
Are these methods something that would come with Selenium 4, or these would be just convenience methods for `mouse().moveToElement()` and the like?

[2019-08-12 19:29] picimako commented on #925
Hi @Kingyo!
Thank you for contacting us.

I ran into this issue too recently so I can tell that it can be reproduced elsewhere too. It might be a good starting point that it works with Selenium.
We will investigate and try to fix the issue.

[2019-08-13 08:25] Kingyo commented on #925
Hi,

Yes indeed, it seems like all methods calling the Actions class are having this issue.
Thank you for your answer, I guess I have to wait a bit!

[2019-08-13 09:01] slawekradzyminski commented on #925
Thanks @Kingyo. I was trying to update docker-selenium in our project and had to revert for unknown reason (whole test suite got stuck and I didn't have time to investigate). Now I know why. Probably we would have to release hotfix version.

[2019-08-13 09:07] slawekradzyminski commented on #844
@picimako wrappers

[code]

I'm not sure if it's worth to add, please tell me what you think ;)

[2019-08-13 17:40] slawekradzyminski commented on #922
Looks like those command are used a lot for example in WebdriverIO
https://github.com/webdriverio/webdriverio/blob/master/packages/webdriver/protocol/chromium.json

Perhaps we should do some stuff on API level now

[2019-08-14 06:45] puresk commented on #925
Same err, Actions class with new Chromedriver doesn't work. There is a need to update selenium for this reason and after that, i am stuck.

[2019-08-14 11:09] puresk commented on #629
No info about this?

[2019-08-14 11:47] filipcynarski commented on #629
Hello @puresk

In terms of 4.0.0 it is for Java 11 so that's why you face the issues as you described.

For FL versions 3.7.x you haven't replied to @slawekradzyminski question from Dec 21, 2018, could you please take a look on that and provide more data to help us to help you.

[2019-08-14 12:35] puresk commented on #629
Hi, yes i found that out. I had problem with Actions and that leads me to upgrade Fluentlenium. But it was actually problem with FindBy annotation which i mentioned in #925 . So thanks for reply.

[2019-08-14 13:28] salvada commented on #629
Yes the problem it appears also with 3.9.0, that's why until now i was using 3.6.1 because a;ll versions later give me this problem.

getCapabilities gives me still the same problem.
 org.fluentlenium.configuration.ConfigurationException: Can't convert JSON Capabilities to Object.
at org.fluentlenium.configuration.CapabilitiesConfigurationPropertyRetriever.convertJsonObjectToCapabilities

maybe I

[2019-08-14 13:30] filipcynarski commented on #629
@salvada As far as I remember Selenium started using theirs own JSON parser that's why you may getting this error. Could you please provide which capabilities are you setting?

[2019-08-14 13:37] filipcynarski commented on #629
From version 3.14.0 of Selenium when you are providing capabilities due to the reason which I've explained above you need to do it in different way:

**previously:**
`capabilities = "{javascriptEnabled: true}"`
**NOW**
`capabilities = "{\"javascriptEnabled\": true}"`

So you have to put JSON key in **quotes**

[2019-08-14 13:50] salvada commented on #629
capabilities = "{javascriptEnabled: true}"
This is for default? because I have never set.

This is my fluentlenium properties:
webDriver=remote
pageLoadTimeout=30000
implicitlyWait=3000
awaitAtMost=10000
scriptTimeout=1200000
screenshotPath=target/screenshot
screenshotMode=AUTOMATIC_ON_FAIL
htmlDumpPath=target/screenshot
htmlDumpMode=AUTOMATIC_ON_FAIL

-Dfluentlenium.capabilities="{browserName:\"c

[2019-08-14 14:33] salvada commented on #629
capabilities = "{javascriptEnabled: true}"
This is for default? because I have never set.

This is my fluentlenium properties:
webDriver=remote
pageLoadTimeout=30000
implicitlyWait=3000
awaitAtMost=10000
scriptTimeout=1200000
screenshotPath=target/screenshot
screenshotMode=AUTOMATIC_ON_FAIL
htmlDumpPath=target/screenshot
htmlDumpMode=AUTOMATIC_ON_FAIL

-Dfluentlenium.capabilities="{browserName:"ch

[2019-08-15 06:37] slawekradzyminski commented on #925
Until we fix it workaround has to be used

[code]

[2019-08-15 06:48] slawekradzyminski commented on #925
So there are 4 cases. Only one works

1. FluentWebElement + @FindBy injection - not working
2. FluentWebElement + normal search - not working
3. WebElement + @FindBy injection - not working
4. WebElement + normal search - working

[code]

[2019-08-19 09:08] slawekradzyminski opened #928 "Bump TestNG to 7.0.0"
https://github.com/FluentLenium/FluentLenium/pull/927

[2019-08-19 13:46] arnzel opened #929 "Download files when using Headless Browser"
Hi i want to download some files using Headless Browser.

I tried it with Headless Chrome executing the Command describved here https://github.com/SeleniumHQ/selenium/issues/5159

`ChromeDriverService driverService = ChromeDriverService.createDefaultService();

ChromeDriver driver = new ChromeDriver(driverService, options);

Map<String, Object> commandParams = new HashMap<>();
commandParams.put("c

[2019-08-20 09:14] #904 closed

[2019-08-20 09:16] picimako commented on #844
@slawekradzyminski
I would definitely add `hoverOver` but `hoverOverAndClick` seems a bit overkill for me.

[2019-08-20 09:27] picimako opened #930 "Migrate to new PMD rulesets"
The current PMD rulesets are deprecated and with one of the future versions they will be removed.
This issue is about migrating to the new rulesets.

There is a tool to help with the migration: https://github.com/asarkar/pmd-migration-tool

After migrating one might run into execution problems in CodeClimate (something like `Can't find resource 'category/java/bestpractices.xml' for rule 'null'`) f

[2019-08-21 14:31] slawekradzyminski commented on #928
done

[2019-08-21 14:31] #928 closed

[2019-08-21 15:23] slawekradzyminski opened #934 "Add .hasTextContaining assertion to assertj module"
I have to write
[code]

I'd like to write
[code]

[2019-08-22 15:22] DragD opened #935 "FluentLenium and selenium-jupiter"
I found that [selenium-jupiter](https://github.com/bonigarcia/selenium-jupiter) is a [great JUnit 5 extension](https://bonigarcia.github.io/selenium-jupiter/) for Selenium and Appium. I think **FluentLenium** could become one of the best frameworks when **integrated with selenium-jupiter**.

[2019-08-24 06:30] MehrCurry opened #936 "Browserstack example not working"
The browserstack example from the documentation does not work for me.

The line `capabilities=browserstack-os-x` gives me an exception. It seems that
the line is parsed as JSON.

[code]

[2019-08-24 06:57] slawekradzyminski commented on #936
Hi @MehrCurry. Thanks for report. I'll take a look into that. Capabilities json was changed in one of previous Selenium version and we forgot to update docs in few places. Sorry for that.

In the meantime you can take a look into examples section where browserstack configuration is done a little bit different

https://github.com/FluentLenium/FluentLenium/tree/develop/examples/spring

[2019-08-24 18:24] slawekradzyminski commented on #925
Code is hanging on while loop which has no fallback exit mechanism

[code]

Stacktrace from thread dump

[code]

[2019-08-24 19:48] slawekradzyminski commented on #925
Chromedriver since 75 has Actions implementation which is W3C compliant.

Chromedriver 74 was using fallback implementation from this piece of code. 75+ goes with _try_. It's Selenium `Actions` class.

[code]

[2019-08-26 10:55] slawekradzyminski commented on #925
It's done, will be released soon

[2019-08-26 10:55] #925 closed

[2019-08-26 10:58] Kingyo commented on #925
Thanks a lot for your work! :)

[2019-08-26 11:07] slawekradzyminski opened #940 "Add .andThen(Runnable onSuccess, Runnable onFailure) to await API"
I'd like to write

[code]

[2019-08-27 05:45] puresk commented on #925
Which version release?

[2019-08-28 08:12] slawekradzyminski commented on #925
It's released now. 4.3.1 (Java 11) and 3.9.1 (Java 8)

[2019-08-28 12:18] slawekradzyminski commented on #925
@Kingyo @puresk can you confirm that the issue is resolved?

[2019-08-28 12:19] Kingyo commented on #925
@slawekradzyminski I am currenctly working on it. I will keep you in touch as soon as I am done.

[2019-08-28 13:37] puresk commented on #925
@slawekradzyminski Yeah, i will try to redo changes i made and see.

[2019-08-30 12:53] gszczutkowski opened #944 "Method first() of FluentList is not initializing fields of its objects"
I guess that method get(0) and first() of the FluentList class should work the same. It looks like that it is not, because it is not lazy initializing fields of the objects on the list. I have tested it on Fluentlenium 4.3.1. Below is the test indicating the issue.
[code]

[2019-08-31 05:20] #843 closed

[2019-09-03 08:54] Rafal7Kowalczyk opened #949 "Sping TestNG support"
Hi,

To run tests in testNG with Springs test class needs extends AbstractTestNGSpringContextTests.
To run tests in testNG with Flentlenium test class needs extends FluentTestNg.
Multi inheritance in java is not allowed, so how to run tests in Fluentlenium using spring and testNG?

[code]

[2019-09-12 12:54] gszczutkowski opened #953 "Handling same test class in two test tags of TestNG configuration is not working correctly"
It is not possible run in parallel tests from the same test class when the class is defined in separate test tags of configuration file. Here is the example of testng configuration file:

[code]
Test for veryfying this scenario can be:

[code]
Actual outcome:
When the first of those two tests is finished then webdriver for the second one is also closed. Exception is thrown: org.openqa.selenium.NoS

[2019-09-14 07:55] picimako commented on #934
@slawekradzyminski

The interesting things is that `hasText()` already works as validating whether the element text contains another text, and not equal to that:

[code]

I think this may be done in two steps:
- introducing `hasTextContaining()` and letting users adopt it in on release
- in another release change the logic of `hasText()` to validate equality

What do you think?

[2019-09-14 11:05] slawekradzyminski commented on #934
@picimako fully agree :)

[2019-09-15 15:52] #906 closed

[2019-09-19 18:05] slawekradzyminski commented on #922
Done

[2019-09-19 18:05] #922 closed

[2019-10-28 15:02] gszczutkowski opened #969 "Wait for expected size of components list is not working correctly"
Long story short. When I am waiting for updating list of FluentWebElements (number of rows) to only one with use of:
[code]
then everything works fine.
When I am waiting for updating the list of components:
[code]
then I am getting TimeoutException.

I am using Fluentlenium 4.3.0

[2019-11-06 10:55] Wodress opened #974 "clickAndCloseCurrent() doesn't close window"
Hello,

I have a case where I'm trying to open chosen web application from list.
There are buttons representing available applications for current user.
If you click on the app button then new window with this app is invoked.
I'm trying to use clickAndCloseCurrent() method for it but after this new window is opened, the old one is not closed, so I'm ending with :

[code]

Is there anything I forgo

[2019-11-07 16:26] slawekradzyminski commented on #974
Hmm, if the window doesn't close I believe you should use `clickAndOpenNew()` method:
https://fluentlenium.com/javadoc/org/fluentlenium/core/action/WindowAction.html#clickAndOpenNew(org.fluentlenium.core.domain.FluentWebElement)

[2019-11-12 09:54] Wodress commented on #974
I modified the code a bit and I got what I needed.
I was expecting different behaviour of this method according to documentation but then I realized how it should work when I saw how it is implemented.

This case is not relevant, thank you for your help.

[2019-11-12 09:54] #974 closed

[2019-12-05 10:50] puresk opened #979 "Taking screenshot Cucumber/Fluentlenium"
Hi, i would like to take screenshot.

I cant really take it with @ after anotation, cause getDriver() will be null in there..Method takeScreenshot(); works just fine when its directly in my test steps, but not in @ after.

So i found out it could be done by fluentlenium itself by "AUTOMATIC_ON_FAIL"

not working code with after anotation:

[code]
Err output:

[code]

This is my TestBase class:

[c

[2019-12-16 20:27] jmbockhorst opened #981 "Driver processes not being quit"
I have a class that extends `FluentStandaloneRunnable` that gets run every 5 minutes. The `doRun` method simply takes a screenshot:

[code]

After the application runs for a while, I end up with hundreds of sleeping chromedriver processes for every time it ran.

I have verified that the `quit()` method in `FluentStandaloneRunnable` is being called appropriately.

It seems to only be happening on L

[2019-12-16 21:03] #981 closed

[2019-12-29 11:50] picimako commented on #979
Hi @puresk!

I'm not sure if you are using JUnit's own `@After` annotation or the one in FL, `org.fluentlenium.adapter.junit.After`. This latter one is designed to be able to actually take screenshots when AUTOMATIC_ON_FAIL is configured.

Could you try FluentLenium's After annotation and see if it works that way?

[2019-12-30 08:18] picimako commented on #940
Hi @slawekradzyminski

I did some investigation:
- In order to run the `andThen()` method properly, `until(Supplier)` should save the result of the assertion and not let it throw an exception if there were any during the wait.
- However that would be problematic when there is no `andThen()` call after `until()` because then the wait/assertion wouldn't fail, it would just save the result. And canno

[2019-12-30 12:04] slawekradzyminski commented on #940
Hi @picimako thanks for investigation :)

Overloaded method seems OK for me, have you tried to implement it?

[2019-12-30 15:12] picimako commented on #940
@slawekradzyminski
Not yet.

[2019-12-30 15:19] slawekradzyminski commented on #940
The goal is to provide functionality. Next release will be with constantly delayed Selenium 4 so there is still some time to squeeze it :)

[2019-12-30 15:20] slawekradzyminski commented on #934
It’s Done by @picimako :)

[2019-12-30 15:20] #934 closed

[2020-01-15 10:40] doling0 opened #994 "DevToolsActivePort file doesn't exist"
hi
fluentlenium-core 3.9.1
chrome 79.0.3945.117
chromedriver http://chromedriver.storage.googleapis.com/index.html?path=79.0.3945.36/chromedriver_linux64.zip
java 1.8.0_241

chrome opened , but  url can not be reached，and it turned to be blank （data:,）
logs:
org.openqa.selenium.WebDriverException:
Browser failed to start, test [ testLogin ] execution interrupted.
Caused by: [ unknown error: DevToo

[2020-01-15 11:57] argonauta opened #995 "Spock Example does not work when adding the firefox selenium driver to the pom.xml"
**I tried to use Firefox for the test and added this dependency to the pom**

` <dependency>
            <groupId>org.seleniumhq.selenium</groupId>
            <artifactId>selenium-firefox-driver</artifactId>
            <version>${selenium.version}</version>
    </dependency>
`

**After that the org.fluentlenium.example.spock.DuckDuckGoSpec throws this Exception**

`org.openqa.selenium.WebDriverE

[2020-01-21 08:26] filipcynarski opened #1007 "Bytecode version to unify supported Java version"
Try to reduce the amount of supported versions of Java (now we have two branches) by trying to unify generated bytecode to one version instead.

[2020-02-27 14:17] www-yyy opened #1020 "Please avoid using libraries with CVEs"
I noticed some of your libraries contained CVEs. To prevent potential security risks it may cause, I suggest to update the library dependency. See below for details:
* **Vulnerable Library Version:** net.sourceforge.htmlunit : htmlunit : 2.36.0
  **CVE ID:** [CVE-2020-5529](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-5529)
  **Import Path:** fluentlenium-core/pom.xml
  **Suggested Safe

[2020-04-10 05:40] gkiszczak opened #1048 "custom Component annotation"
Hi,

I would like to create a custom annotation that could be added to the Component
eg.
`@Translation("key")`
`@FindBy(css = "#password-input")`
`Component passwordInput;`

Is it somehow possible to create such annotation and retrieve its value inside Component?

[2020-04-14 08:41] filipcynarski commented on #1048
It is possible, why not :) would you be able to work on this task?

[2020-04-14 13:49] gkiszczak commented on #1048
@filipcynarski  sure will try to prepare something.

[2020-04-17 13:07] picimako commented on #597
I did a little bit of search and there are a few approaches to do this, however I don't know what would be the ROI of retrieving the selector as a `By`.

https://stackoverflow.com/questions/22922997/converting-a-webelement-type-to-a-by-type
https://groups.google.com/forum/#!topic/selenium-users/AcES1v1lI38

[2020-04-17 13:44] picimako commented on #836
I think this might be closed in favor of https://github.com/FluentLenium/FluentLenium/issues/1007. That one might be a more unified approach than this one.

[2020-04-17 15:10] picimako commented on #844
For now I added `hoverOver()` to `FluentActions`.

As I've seen adding `hoverOver(FluentWebElement)` would require the extension of `FluentControl` and `FluentControlImpl` which would also mean that other methods like `click(FluentWebElement)` should/could also be added, which I don't think is necessary for now.

[2020-04-17 15:19] picimako commented on #857
Closing this ticket as it is clearly an AssertJ issue and not related to FluentLenium logic.

[2020-04-17 15:19] #857 closed

[2020-04-17 17:29] picimako commented on #930
Apparently CodeClimate still uses pmd-5.8.1 on its classpath, however according to the https://github.com/codeclimate/codeclimate-pmd project it should be at least 6.0.1.

Probably that is why at the moment CodeClimate cannot find the new rulesets.

[2020-04-19 08:52] picimako opened #1054 "Alert presence validation is incorrect/misleading"
I've been checking the implementation of `AlertImpl` and `AlertAssert` and noticed something.

An `AlertImpl` object can be instantiated successfully only when there is an actual alert present on the page, otherwise both consctuctors throw a `NoAlertPresentException`.
I guess that is why its `present()` method always returns true, because once the object is created it is for sure that the alert is

[2020-04-21 08:41] picimako opened #1055 "General documentation improvements"
Improve documentation in terms of javadoc and website as well. Where feasible introduce minor code changes for better readability.

[2020-06-02 10:55] puresk commented on #979
That help. Thanks!

[2020-06-02 10:55] #979 closed

[2020-06-03 12:04] puresk opened #1062 "Screenshot not taken on windows machine"
Working on osx machine, where i am able to take screenshots with @FluentConfiguration:  `screenshotMode = ConfigurationProperties.TriggerMode.AUTOMATIC_ON_FAIL`

After i run same test on windows 10 machine, i am not able to get screenshot from failed test. BUT `takeScreenshot();`
method work and will take screenshot in right directory. So `AUTOMATIC_ON_FAIL` is not working for windows.

Anybody sa

[2020-06-15 13:14] PavelOnz opened #1066 "How to handle HTTP Basic Authentication?"
Dear amazing FluentLenium team, i'm just switching from plain Selenium to your wonderful framework. I was wondering, what is the recommended way of dealing with HTTP basic authentication. How can i supply the credentials into the base URL in a proper way?

I dont see a way, how to enter the credentials using Alert, and i'm unable to add the credentials into the baseURL. Thanks!

BR,
Pavel

[2020-06-17 15:59] picimako commented on #1066
Hi @PavelOnz!

Thank you for the kind words. :)

If you configure the base URL in a format like `https://<username>:<pwd>@my.domain.com/`, e.g. `https://admin:123@my.domain.com/` that should get your through the basic authentication. At least that is how it worked for me last time I needed such thing.

[2020-07-05 12:49] whitejeffreyl commented on #949
A lot of people need this...including me.

[2020-07-06 03:56] filipcynarski commented on #949
hello guys,

Thank you for pointing this issue out. I've started from PoC here: https://github.com/FluentLenium/FluentLenium/tree/949-springSupport we need to write tests and make this code prettier.

[2020-07-08 03:22] whitejeffreyl commented on #949
Thank you Filip!!! I look forward to that release.

On Sun, Jul 5, 2020 at 11:56 PM Filip Cynarski <notifications@github.com>
wrote:

[2020-07-12 10:23] picimako commented on #844
For now `hoverOver()` is added to `FluentWebElement` but not supported by `FluentList`, for now keeping it that way seemed more reasonable. If you have any suggesstions, let me know and I can add support for that as well. Otherwise I think this issue can be closed.

[2020-07-31 09:39] PavelOnz commented on #1066
Hi @picimako , getting back to this after a long time. I assumed you meant to overload the "getBaseUrl()" method, which i already tried. Also tried to overload "getUrl()", or putting the credentials to @PageUrl annotation. All attempts ends up the same - showing chrome with alert/prompt to enter basic auth creds. As i understand, selenium is not able to add request headers. Using WebDriverWait and

[2020-08-01 06:59] picimako commented on #1066
@PavelOnz
I've just double-checked how my last project was set up, and there I had `FluentCucumberTest` extended to make a base test class, and I overridden the `getBaseUrl()` method.
When we had the basic authentication alert we used FluentLenium version 4.2.2 and 4.3.0.

Selenium itself cannot alter request headers, for that you'll need a library such as browsermob-proxy.

My guess is that whate

[2020-08-13 10:05] slawekradzyminski opened #1103 "Expose AppiumDriver methods"
Not sure how but they should be easy to access via FL

[2020-08-13 16:04] slawekradzyminski opened #1105 "Add Microsoft Edge to list of browsers supporting Chromium API"

[2020-08-14 09:01] PavelOnz commented on #1066
Hmm, it seems there are several issues combined - first, the website seems to first send HTTP 301 (perm redir), and the redir target is the one sending the Auth challenge.
I cannot even use the URL-embedded credentials in chrome "manually" - always getting the creds prompt. Firefox gets confused as well, and notifies, that user is sending credentials to a page, which does not require it.
Moreover,

[2020-08-14 13:07] slawekradzyminski commented on #1105
done

[2020-08-14 13:07] #1105 closed

[2020-08-14 16:28] slawekradzyminski commented on #1103
Looks like it's available pretty easy via
[code]

[2020-08-15 10:28] slawekradzyminski commented on #1103
done

[2020-08-15 10:28] #1103 closed

[2020-08-15 10:31] slawekradzyminski commented on #1054
Hi @picimako

I guess you should write E2E test first that integrates with alerts and then decide which approach is better. I don't have any preference regarding solutions. Make it work:)

[2020-08-15 10:41] slawekradzyminski commented on #995
Yes, it's broken unfortunately. Spock module was added by community and we tend to struggle with it. Let's see what can be done here.

[2020-08-15 10:42] slawekradzyminski commented on #994
Hi @doling0 have you managed to fix it? Looks pretty much like Selenium issue

[2020-08-26 08:12] puresk commented on #1062
[code]

[2020-08-26 08:32] slawekradzyminski opened #1127 "Unify design of fluentlenium-spock and fluentlenium-spring-testng"
They're slightly different right now and additionally Overrides does not work in fluentlenium-spock

[2020-08-26 08:33] slawekradzyminski commented on #995
@argonauta ok nvm, got it working after a lot of tinkering ;)

[2020-08-26 15:53] slawekradzyminski commented on #1127
done

[2020-08-26 15:53] #1127 closed

[2020-08-26 15:53] slawekradzyminski commented on #995
It's done, seems like everything is working

[2020-08-26 15:53] #995 closed

[2020-08-29 18:37] slawekradzyminski commented on #949
It's done, will be released soon

[2020-08-29 18:37] #949 closed

[2020-09-30 12:02] subashniprasannasagecom opened #1155 "Running fluentlenium test consume lot of CPU"
Hi ..
 I have the following FluentLenium set up which closes and open browser for each test. What i noticed in Chrome 85 version , we have muliple chrome browser process kept open .. even the browser is closed .. the process still exist and system ends up having 100% cpu reached...
I thought fluentlenium releaseFluent method would handle terminate the process ..but looks like latest chrome there i

[2020-09-30 12:32] slawekradzyminski commented on #1155
Hi @subashniprasannasagecom, thanks for your report 👍

Can you confirm that it's only Chrome 85 issue? Which FL version do you use?

[2020-09-30 12:35] subashniprasannasagecom commented on #1155
I tired upgrade to 4.5.1 version ....Not 100 % sure whether chrome 85 ..but i see this happening more in chrome 85 and FluentLenium  latest

[2020-09-30 13:36] slawekradzyminski commented on #1155
Other browsers work ok?

[2020-09-30 16:21] subashniprasannasagecom commented on #1155
we use chrome and chrome in browserstack ..So really did not notice it as issue..but off late when we upgrade to chrome 85 seeing that as big issue .. when ever we run test the machine just dies .. I also notice that lot of chrome process is created and left without cleaning even that browser is not up and running..

[2020-09-30 16:25] subashniprasannasagecom commented on #1155
@slawekradzyminski  -- i see in the code
     */
    public static void classDriverCleanup(Class<?> testClass) {
        List<SharedWebDriver> sharedWebDrivers = SharedWebDriverContainer.INSTANCE.getTestClassDrivers(testClass);
        sharedWebDrivers.forEach(SharedWebDriverContainer.INSTANCE::quit);
    }
fluentinium only doing the quit and not close before quit.. if we just quit sometimes the c

[2020-10-01 04:01] whitejeffreyl opened #1156 "Compile error when using FluentTestNgSpringTest"
I am getting the following error when compiling.  The error is on this line:
public abstract class TestBaseLocalTestngSpring extends FluentTestNgSpringTest

ERROR:
java: cannot access org.fluentlenium.adapter.TestRunnerAdapter
  class file for org.fluentlenium.adapter.TestRunnerAdapter not found

Shouldn't it be looking for:
org.fluentlenium.adapter.FluentTestRunnerAdapter?

CODE EXCERPT:

@Slf4j

[2020-10-01 06:26] slawekradzyminski commented on #1156
That's disappointing. Can you share your pom/gradle dependencies?

There is working example available here: https://github.com/FluentLenium/FluentLenium/tree/develop/examples/spring

Can you compare it with your project? I wonder what may be the reason. Maybe some kind of hotfix is required.

[2020-10-02 09:43] subashniprasannasagecom commented on #1155
sorry for the delay in writing back.. i ma not using directly the class lifecycle.. We trust fluentlenium to close and quit the driver correctly ..but what I noticed is when I explicitly do a getDriver().close() in the afterMethod of our test .. the problem seems to be resolved and it is not keeping chrome browsers open after each test.... So only wondering whether it should be handled as part of

[2020-10-13 15:15] subashniprasannasagecom commented on #1155
i tested it by adding in my code driver.close .. it works fine now...

[2021-01-06 16:05] nsmorisset commented on #658
hello,

I would like to take a capture with junit 5, but the feature does not work.

When can we take a screenshot before executing the annotation code method (@AfterEach & @AfterAll)

Is there a "Simple" alternative because I am a beginner ?

Thank you

[2021-01-28 23:33] #1156 closed

[2021-01-28 23:33] whitejeffreyl commented on #1156
This seems to not be an issue anymore.

[2021-01-28 23:35] whitejeffreyl opened #1191 "An illegal reflective access operation Warning When I Run Tests"
ChromeDriver was started successfully.

[XmlClass class=com.nextgearcapital.tests.smoke.OnlineApplicationIT] - com.nextgearcapital.pageobjects.Common:waitForPageLoad - Waiting for page load
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.fluentlenium.utils.ReflectionUtils (file:/Users/jeff.white/.m2/repository/org/fluentlenium/fluentlenium-cor

[2021-01-30 11:56] filipcynarski opened #1193 "Add integration test for shadowDOM functionality"
We need to cover shadow DOM newly added functionality in 4.6.0 release by tests better.

[2021-02-05 13:27] CamilleDesmots opened #1198 "Wrong example on page https://fluentlenium.com/docs/key_features/#page-object-pattern-support"
On page URL : https://fluentlenium.com/docs/key_features/#page-object-pattern-support

We've got this :

    public SelectComponent(WebElement webElement, WebDriver driver, ComponentInstantiator instantiator) {
        super(webElement, driver, instantiator);
    }

but it should be :

    public SelectComponent(WebElement webElement, FluentControl control, ComponentInstantiator instantiator) {

[2021-02-11 11:51] filipcynarski commented on #1198
Thank you for reporting the issue, we'll review documentation and fix the documentation errors.

[2021-02-16 12:04] puresk opened #1210 "Appium and Fluentlenium"
I am trying to setup Appium driver in Fluentlenium. I see there is _getAppiumDriver_. Does it do something? Like when i setup chromeDriver in Fluentlenium i am able to access it by _getDriver()_. I would really appreciate an code example for this one. Thanks!

[2021-02-16 12:12] slawekradzyminski commented on #1210
Hi @puresk :) Have you tried the steps described in docs?

https://fluentlenium.com/docs/appium-support/

[2021-02-16 12:30] puresk commented on #1210
Hi, thx for answer. I did not find the answer there. For WebAutomation i am doing something like the this:

[code]

Then i am able to access it by `getDriver();`

I can create new Factory, but i am not sure this is the way here. Method `getAppiumDriver()` in `FluentControl` confuses me.

[2021-02-17 08:02] puresk commented on #1210
Ok, i found a way how to create AppiumDriver and using _getAppiumDriver()_ in my code! :-) Didn't see it at first.

[2021-02-17 08:11] slawekradzyminski commented on #1210
Cool :) Any suggestions for feature improvements?

[2021-02-17 08:40] puresk commented on #1210
No right now. Will raise a case if i will have :-)

[2021-02-17 08:40] #1210 closed

[2021-02-17 09:24] puresk opened #1211 "@FindBy for Mac apps"
Hi,

i was trying to find how to create pageObject for mac application. So far i see there is windows, android and ios for this purpose: [native_support](https://fluentlenium.com/docs/appium-support/#native-support).

is there a way to use pageObject for mac or will this be supported in future? I am using appium-mac2-driver.

Thanks!

[2021-02-17 09:37] slawekradzyminski commented on #1211
@puresk isn't Xpath dedicated for such purposes?

[2021-02-18 07:45] puresk commented on #1211
@slawekradzyminski Thanks for answer! I've tried xpath and id and looks like it work pretty nice. Thanks!

[2021-02-18 07:45] #1211 closed

[2021-02-18 08:09] puresk opened #1212 "Maintaining two drivers - appiumDriver, chromeDriver"
Hi, it's me again :) I have one last problem. How do you deal with a problem where you have to use two drivers. For example - you setup something on webSite (chromeDriver) and then you work with it in mac agent app (appiumDriver). I spend whole day trying to maintain two modules, each with driver it uses, but looks like this is not the way. I didn't succeed to initialize second driver. Thanks!

[2021-02-18 08:18] slawekradzyminski commented on #1212
@puresk I don't think it's a good idea to handle two different drivers simultaneously (even for Web-only automation). In my work I had similar setup but I run everything sequentially. I had package separation for web & mobile.

[code]

[2021-02-18 08:27] puresk commented on #1212
@slawekradzyminski Thanks for answer! Yeah i see the issue here, but what about e2e tests then - where i need to access web and app in one test? So far i think i will have to create this instance of chromeDriver and maintain it by myself, which is not the best idea. Even pageObjects won't work.

if anyone dealt with this issue, give me a hint! :-)

[2021-03-06 19:59] davidje13 opened #1214 "FluentConfiguration capabilities fails to set capabilities for multiple browsers"
The following configuration results in only Chrome being headless:

[code]

(when switching to firefox using `-Dfluentlenium.webDriver=firefox` at invocation, it does not run in headless mode).

However, if we rename the `goog:chromeOptions` entry, it works in FireFox (obviously fails in Chrome):

[code]

And if we build the configuration manually instead of via the JSON parsing, it works for both

[2021-04-14 10:39] agavrilov76 opened #1222 "Stop using org.openqa.selenium.internal.WrapsElement"
`FluentWebElement` implements `org.openqa.selenium.internal.WrapsElement` which is internal and has been removed in Selenium v4 causing `java.lang.NoClassDefFoundError: org/openqa/selenium/internal/WrapsElement` exception

[2021-05-21 09:15] slawekradzyminski commented on #1222
Hi @agavrilov76 - We don't support Selenium 4 yet

[2021-05-24 16:35] abendt opened #1250 "Kotest support"
hi folks,

in a previous project i have used fluentlenium in combination with Kotest (https://kotest.io/). Kotest is a testframework for kotlin.
i recently took some time to cleanup the code and to extend it to the different Kotest testing styles (https://kotest.io/docs/framework/testing-styles.html).

would you generally be interested to add this to the fluentlenium project?
* GitHub project: htt

[2021-05-24 17:29] slawekradzyminski commented on #1250
Short answer - yes :)

Would you try to add separate module as a PR? Is it easy to migrate into Maven?

[2021-05-24 17:30] abendt commented on #1250
cool :-)

sure, migration to maven should be straightforward

[2021-05-24 22:14] christian-draeger commented on #1250
Hey I was experimenting with some funky dsl Funktions over as extensions for fluentlenium in kotlin.
Here some example usage: https://github.com/christian-draeger/basic-selenium-project/blob/master/src/test/java/tests/browser/BrowserTestExampleIT.kt

If there is general interest of having something like this included in fluentlenium just let me know :) even if it's just a small POC currently I am

[2021-06-07 09:53] slawekradzyminski commented on #1250
@christian-draeger is it something related to KoTest or separate extension? Sorry, I'm not great with Kotlin, I've only used Espresso in this language :)

[2021-06-07 19:02] christian-draeger commented on #1250
hey @slawekradzyminski ,
it's not related to kotest directly but deals with kotlin support in general - thereby it would clearly be another extension, smth like 'fluentlenium-kotlin-dsl' - but would help to make test written with kotest look even more sexy since it also uses a DSL-ish approach.

just as short intro:
Domain-specific languages, or DSLs, are languages specialized for a specific part

[2021-06-07 19:07] slawekradzyminski commented on #1250
I see no problems with adding it, would you like me to release initial fluentlenium-kotest module first or should I wait for your PR with fluentlenium-kotest-dsl?

I need to add a few things into docs but generally speaking release is almost ready :)

[2021-06-07 19:13] christian-draeger commented on #1250
ah no, don't let the kotest users wait 🙂
i think i will take some days to think about different cases etc.
the kotlin dsl module can be released later on since it has no dependencies or something to the kotest module. it will just play well together if someone is using them both in the future but the dsl will also work in junit (like in the given example) as well as in any other environment / stan

[2021-06-08 08:19] slawekradzyminski commented on #1250
@abendt guess we should update the docs at least slightly (and main README). Is this something you can do? :)

[2021-06-08 12:51] abendt commented on #1250
yes, i can do that

[2021-06-08 14:29] abendt commented on #1250
@slawekradzyminski could you provide some information how the docs work?

which files do i need to edit? .md .html?

[2021-06-09 07:16] slawekradzyminski commented on #1250
Looks perfect :) docs will be released when I merge new release to master

[2021-06-11 12:53] slawekradzyminski commented on #1250
@abendt give me some time with release because `mvn -Pjava11 release:prepare` fail for unknown reasons :(

You can also help me debug why it's not working (I assume that's one of the newly bumped libraries). Here is full release guide btw:
https://github.com/FluentLenium/FluentLenium/tree/develop/dev-config

[2021-06-11 14:52] abendt commented on #1250
will have a look

[2021-06-11 15:37] abendt commented on #1250
what maven version are you using?

[2021-06-11 16:07] slawekradzyminski commented on #1250
Same error here on every maven version I tried.

I don’t understand why it builds submodules using release version. It should first build and change poms later :(

[2021-06-11 16:14] abendt commented on #1250
when running the command `mvn -Pjava11 release:prepare -Dresume=false` the build fails with the error message seen here: https://gist.github.com/abendt/94d27114e534a1a2389d4ae950525094

looking at the output it seems its not executing all maven phases for the core module
https://gist.github.com/abendt/94d27114e534a1a2389d4ae950525094#file-gistfile1-txt-L125-L134
I do not understand why this is hap

[2021-06-11 16:21] abendt commented on #1250
that profile is defined here: https://github.com/sonatype/oss-parents/blob/master/oss-parent/pom.xml#L107

[2021-06-11 16:22] abendt commented on #1250
this also allows to reproduce the issue w/o release:

`mvn -Psonatype-oss-release verify`

[2021-06-11 16:39] abendt commented on #1250
the profile apparently adds three plugins to the build. i tried to add the plugins directly to the parent pom. with the javadoc plugin i could reproduce the issue:

[code]

Upgrading the maven-javadoc-plugin version seems to fix that issue

[2021-06-11 16:47] abendt commented on #1250
another suggestion is to add a github action that runs the release step with dryMode: https://maven.apache.org/maven-release/maven-release-plugin/prepare-mojo.html#dryRun

this way could help to catch incompatible changes earlier

[2021-06-11 20:08] abendt commented on #1250
i have created another PR that should provide a workaround by upgrading the maven-javadoc-plugin to the latest version

[2021-06-14 02:47] b-palaniappan opened #1272 "FluentLenium with Spock 2.0-groovy-3.0"
I recently upgraded Spock to `2.0-groovy-3.0` version. After upgrading to Spock 2.0 and Groovy 3.0 all my FluentLenium test cases are failing.

I use springboot (version `2.5.1`) project with with Gradle as build tool. Gradle config,
[code]

Sample testcase,

[code]

Stack trace,
[code]

[2021-06-14 08:42] slawekradzyminski commented on #1272
Hi @b-palaniappan :)

Good to know someone is using Spock module.

Spock 2 is not compatible with previous version (they have ditched junit4 in favour of junit5).  You can read about it here:
https://spockframework.org/spock/docs/2.0/migration_guide.html#_migration_guide_2_0

I have bumped our implementation in this PR, please note the addition of `spock-junit4` module:
https://github.com/FluentLe

[2021-06-14 08:45] slawekradzyminski commented on #1250
@abendt should I run this:

`mvn -Pjava11 release:prepare -Dresume=false`

Or this

`mvn -Pjava11,sonatype-oss-release release:prepare -Dresume=false`

Thanks for help :)

[2021-06-14 10:39] abendt commented on #1250
i think the first one should be enough.

when doing a `release:prepare` the configuration from the parent pom (check maven-release-plugin [here](https://search.maven.org/artifact/org.sonatype.oss/oss-parent/9/pom)) will already add the argument that will enable the profile:

[code]

[2021-06-14 10:40] abendt commented on #1250
adding the profile manually was just useful to test the behavior without actually starting a maven release

[2021-06-14 16:23] b-palaniappan commented on #1272
Hi @slawekradzyminski,

Thanks for the quick reply. I am a great fan of Spock framework, I use it for all our Springboot projects for Unit and Integration testing.

I will try with `spock-junit4`. I was expecting this may be the issue :-)

[2021-06-16 07:35] slawekradzyminski commented on #1250
I'm uploading the jars now :)

[2021-06-16 10:20] slawekradzyminski commented on #1250
I gave up for now. There is explicit requirement to have javadoc in each module ([source](https://central.sonatype.org/publish/requirements/#supply-javadoc-and-sources)). I don't know how we released Spock module before.

I created a ticket, let's see how it goes.

https://issues.sonatype.org/browse/OSSRH-70223

[2021-06-16 12:51] abendt commented on #1250
try to change the [classifier](https://groovy.github.io/GMavenPlus/groovydoc-jar-mojo.html#classifier) from groovydoc to javadoc

[2021-06-16 14:41] slawekradzyminski commented on #1250
Good tip, looks better:)

[2021-06-16 15:03] slawekradzyminski commented on #1250
Released v4.8.0

[2021-06-16 15:04] #1272 closed

[2021-06-16 15:16] slawekradzyminski commented on #1250
https://fluentlenium.com/docs/test-runners/#kotest

[2021-06-16 20:52] abendt commented on #1250
@slawekradzyminski can we close this ticket now?

i announced this release in the [kotest slack](https://kotlinlang.slack.com/archives/CT0G9SD7Z/p1623859032212000?thread_ts=1621965702.117600&cid=CT0G9SD7Z). there was a question about a kotlin DSL. @christian-draeger if you are still up to work on that i suggest to open a new ticket here and move the discussion there. i can then also link that tick

[2021-06-16 21:14] #1250 closed

[2021-06-16 21:25] abendt commented on #1054
i also noticed that while implementing (and testing) kotest custom assertions for alert:

https://github.com/FluentLenium/FluentLenium/blob/develop/fluentlenium-kotest-assertions/src/test/kotlin/org/fluentlenium/kotest/matchers/alert/AlertMatchersSpec.kt#L18

currently its not possible to use the assertion to test for absence of the matcher without wrapping it in a try/catch

[2021-06-17 16:07] b-palaniappan commented on #1272
Thanks @slawekradzyminski it works great. Thanks again for fix it so quickly.

[2021-06-17 19:19] christian-draeger opened #1280 "Add kotlin DSL module"
As discussed in https://github.com/FluentLenium/FluentLenium/issues/1250#issuecomment-856184200 fluentlenium could provide a kotlin dsl module and thereby increase kotlin support by using language capabilities to write highly readable tests

[2021-06-17 19:40] #1222 closed

[2021-07-27 12:27] LucaLis commented on #1191
I'm facing similar problem but in my case I end up with InaccessibleObjectException and test failure. I'm getting these from [chrome quick start project](https://github.com/FluentLenium/FluentLenium/tree/develop/examples/quickstart-chrome)  DuckDuckGoChromeTest:

[code]

[2021-08-27 16:40] jschneidereit opened #1328 "fluentlenium-kotest doesn't allow you to override extensions and listeners in the supported testing styles"
The fluentlenium kotest [supported testing styles](https://github.com/FluentLenium/FluentLenium/tree/develop/fluentlenium-kotest) don't support a pretty powerful feature of kotest, extensions and listeners. Exposing these would be super awesome!

[code]

[2021-08-27 16:47] #1328 closed, assigned to nobody

[2021-09-08 05:17] ramkumar-yoganathan opened #1337 "Error occurred for appium FluentDriver - You should use getAppiumDriver() method for mobile automation"
I have overridden the newWebDriver with the following implementation

[code]
The driver is successfully created and erroring out when finding the elements

[code]

Also, I have overridden and tried with getAppiumDriver as follows

[code]

Getting another error.

`Caused by: java.util.concurrent.ExecutionException: org.fluentlenium.configuration.ConfigurationException: Can't create new WebDriver in

[2021-10-01 05:57] ramkumar-yoganathan opened #1346 "Shadow DOM is not working"
I used the annotation @Unshadow with CSS selectors. But the error message says id or name is not found which is not relevant to the object. Here is my code

[code]
Output

`org.openqa.selenium.NoSuchElementException: Element by id or name "lnkInventoryManagement" (first) (Lazy Element) is not present`

Assuming that, it was finding using id or name instead of CSS

[2021-11-29 10:43] Syacoubi opened #1369 "Wrong package name for WrapsElement"
Since the package name for WrapsElement changed from org.openqa.selenium.internal to org.openqa.selenium newer versions are not working anymore. For this I created a pull request, please have a look at: https://github.com/FluentLenium/FluentLenium/pull/1354

[2021-12-03 13:53] filipcynarski opened #1372 "Upgrade to Selenium 4.1"

[2021-12-03 13:54] filipcynarski opened #1373 "Change desiredCapabilities to options"

[2021-12-03 13:55] filipcynarski opened #1374 "ShadowRoot in handle ChromeDriver 96+"
in ChromeDriver 96+ shadow root is not supported as previously we need to handle it https://github.com/SeleniumHQ/selenium/issues/10050#issuecomment-974335337

[2021-12-03 18:22] Jose-Luis-Nunez commented on #828
Hey dear FluentLenium team I saw a PR for Selenium 4 https://github.com/FluentLenium/FluentLenium/pull/1356
 will it be released soon?

[2021-12-04 11:51] abendt commented on #1372
hey @filipcynarski

have a look at https://github.com/FluentLenium/FluentLenium/pull/1380
it took existing PR from https://github.com/FluentLenium/FluentLenium/pull/1084
and made all necessary further changes. its using Selenium 4.1 now

Tests all green

[2021-12-08 15:27] abendt opened #1399 "EventFiringWebDriver is deprecated"
_EventFiringWebDriver_ is marked as deprecated in Selenium 4: https://www.selenium.dev/selenium/docs/api/java/org/openqa/selenium/support/events/EventFiringWebDriver.html

* The recommended replacement _EventFiringDecorator_ is not stable yet (annotated with _@Beta_): https://www.selenium.dev/selenium/docs/api/java/org/openqa/selenium/support/events/EventFiringDecorator.html
* As the replacements

[2021-12-16 06:51] slawekradzyminski opened #1414 "Drop support for Java 8"
Maintaining Java-8 compatibility is a burden for us which we would love to drop. Additionally, latest features and releases are Java 11 only.

I'm creating this ticket to gather initial feedback about it. Java 8 end of life is on 31 Mar 2022 but perhaps we should cut the cord earlier.

[2021-12-16 11:47] filipcynarski opened #1415 "Selenium 4.0 add ShadowRoot test and fix the code"
Selenium 4.0 add ShadowRoot test and fix the code

[code]

https://cosmocode.io/how-to-interact-with-shadow-dom-in-selenium/

[2021-12-28 08:48] slawekradzyminski commented on #1372
Done :)

[2021-12-28 08:48] #1372 closed

[2021-12-28 08:48] slawekradzyminski commented on #1373
done

[2021-12-28 08:48] #1373 closed

[2021-12-28 16:38] abendt commented on #1369
obsolete with #1380

[2021-12-28 16:38] #1369 closed

[2022-01-19 11:58] abendt commented on #828
https://github.com/FluentLenium/FluentLenium/releases/tag/v5.0.1

[2022-01-19 11:58] #828 closed

[2022-01-20 13:37] filipcynarski commented on #944
Will be fixed in release 5.0.2